@use "../_helpers/colors" as *;

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: foregroundColor();
}

#layout {
    height: 100%;
    background-color: var(--window-background-color);
}
