@use '../_helpers' as *;

body {

  --foreground-color: 255, 255, 255;
  --background-color: 0, 0, 0;

  /* ------ Accent-influenced ------ */

  // User's system accent color preference
  // Mac equivalent: controlAccentColor
  --accent-color: #{colorVar("accent")};

  // Color of selected navigation UI icons
  // E.g. Selected Preferences toolbar tabs
  --nav-icon-color: #{colorVar("accent")};

  // Highlight around focused controls
  // Mac equivalent: keyboardFocusIndicatorColor
  --focus-ring-color: #{colorVar("accent", $light: -2%, $alpha: 0.5)};

  // Selected list/menu items
  // Mac equivalent: selectedContentBackgroundColor
  --selected-list-item-color: #{colorVar("accent", $sat: +3%, $light: -6%)};

  // Background of selected text
  // Mac equivalent: selectedTextBackgroundColor
  --text-selected-background: #{colorVar("accent", $sat: -50%, $light: -15%)};

  /* ------ Buttons ------ */

  --button-label-color: #ffffffd8;
  --button-background: #555656ff;
  // Top bevel, Outline, Drop shadow
  --button-boxshadow: inset 0 0.5px 0 0 #{white(0.25)}, 0 0 0 0.5px #{black(0.15)}, 0 1px 1px 0 #{black(0.15)};

  --inset-button-background: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0)), var(--button-background);
  // Top bevel, Outline
  --inset-button-boxshadow: inset 0 1px 0 0 #{white(0.15)}, 0 0 0 0.5px #{black(0.15)};

  /* ------ Labels ------ */

  --label-color: #ffffffd8;
  --label-2-color: #ffffff8c;
  --label-3-color: #ffffff3f;
  --label-4-color: #ffffff19;

  /* ------ Text ------ */

  --text-color: #ffffffff;
  --text-placeholder-color: #ffffff3f;
  --menuitem-selected-text-color: #ffffffff;
  --control-text-color: #ffffffd8;
  --control-selected-text-color: #ffffff3f;
  --control-disabled-text-color: #ffffff3f;

  /* ------ Misc ------ */

  --menu-background: hsla(0, 0%, 17%, 0.9);
  --error-color: #fa6e50;
  --separator-color: #ffffff19;
  --grid-color: #ffffff19;
  --shadow-color: #000000ff;
  --window-background-color: #323232ff;

  /* ------ OLD (to be converted) ------ */

  // --alternateSelectedControlTextColor: rgb(92, 84, 84);
  // --controlBackgroundColor: #1e1e1eff;
  // --findHighlightColor: #ffff00ff;
  // --headerTextColor: #ffffffff;
  // --highlightColor: #b4b4b4ff;
  // --linkColor: #419cffff;
  // --selectedControlTextColor: #ffffffd8;
  // --menuitem-selected-text-color: #ffffffff;
  // --selectedTextColor: #ffffffff;
  // --textBackgroundColor: #1e1e1eff;
  // --text-color: #ffffffff;
  // --unemphasizedSelectedContentBackgroundColor: #464646ff;
  // --unemphasizedSelectedTextBackgroundColor: #464646ff;
  // --unemphasizedSelectedTextColor: #ffffffff;
  // --windowFrameTextColor: #ffffffd8;
}
