@use '../_helpers' as *;

body {
  --foreground-color: 0, 0, 0;
  --background-color: 255, 255, 255;

  /* ------ Accent ------ */

  --accent-color:   var(--os-accentColor);
  --accent-color-h: var(--os-accentColor_h);
  --accent-color-s: var(--os-accentColor_s);
  --accent-color-l: var(--os-accentColor_l);

  /* ------ Accent-influenced ------ */

  // Color of selected navigation UI icons
  // E.g. Selected Preferences toolbar tabs
  --nav-icon-color: #{accentColor()};

  // Highlight around focused controls
  // TODO: Change to var(--os-keyboardFocusIndicatorColor)
  --focus-ring-color: #{accentColor($lightness: -2%, $alpha: -0.5)};

  // Selected list/menu items
  // TODO: Change to var(--os-selectedContentBackgroundColor)
  --selected-list-item-color: #{accentColor($sat: +3%, $lightness: -6%)};

  // Background of selected text
  // TODO: Change to var(--os-selectedTextBackgroundColor) 
  --text-selected-background: #{accentColor($sat: +3%, $lightness: +35%)};

  /* ------ Buttons ------ */

  --button-label-color: var(--os-labelColor);
  --button-background: var(--os-controlBackgroundColor);
  // Outline and drop shadow
  --button-boxshadow: 0 0 0 0.5px #{black(0.08)}, 0 0.5px 1px 0.5px #{black(0.1)};
  --inset-button-background: var(--os-controlBackgroundColor);
  // Outline and drop shadow
  --inset-button-boxshadow: inset 0 1.5px 1px 0 #{black(0.1)}, inset 0 0 0 0.5px #{black(0.2)};

  /* ------ Labels ------ */

  --label-color: var(--os-labelColor);
  --label-2-color: var(--os-secondaryLabelColor);
  --label-3-color: var(--os-tertiaryLabelColor);
  --label-4-color: var(--os-quaternaryLabelColor);

  /* ------ Text ------ */

  --text-color: var(--os-textColor);
  --text-placeholder-color: var(--os-placeholderTextColor);
  --menuitem-selected-text-color: var(--os-selectedMenuItemTextColor);
  --control-text-color: var(--os-controlTextColor);
  --control-selected-text-color: var(--os-selectedControlTextColor);
  --control-disabled-text-color: var(--os-disabledControlTextColor);

  /* ------ Misc ------ */
  --error-color: #fa6e50;
  --grid-color: var(--os-gridColor);
  --lightbox-icon-color: #fff;
  --menu-background: hsla(0, 0%, 95%, 0.8);
  --separator-color: var(--os-separatorColor);
  --shadow-color: var(--os-shadowColor);
  --window-background-color: var(--os-windowBackgroundColor);

  /* ------ Sidebar ------ */
  --sidebar-tab-inactive-color:     var(--os-controlTextColor);
  --sidebar-tab-active-color:       #{foregroundColor()};
  --sidebar-tab-selected-color:     #{accentColor()};
  --sidebar-tree-icons-color:       #{foregroundColor(0.8)};
  
  /* ------ Editor wizard ------ */
  --wizard-background-color:        var(--os-windowBackgroundColor);
  --wizard-border-color:            var(--os-separatorColor);
  --wizard-border-radius:           4px;
  --wizard-border-thickness:        1px;
  --wizard-error:                 hsla(0, 100%, 50%, 0.5);

}
