@use "../_helpers" as *;

body {

    // "The system default timing function. Use this function to ensure that the timing of your animations matches that of most system animations."
    // https://cubic-bezier.com/#.25,.1,.25,1
    // https://developer.apple.com/documentation/quartzcore/camediatimingfunctionname/1521854-default
    --macos-default-easing: cubic-bezier(0.25, 0.1, 0.25, 1);

    --sidebar-openClose-duration: 350ms;
   
    // Border radius
    --button-border-radius: 5.5px;
    --button-border-radius-compact: 4px;
    --menu-border-radius: 5.5px;
    --menu-border-radius-compact: 3.5px;
}
