body {

  // Sidebar tab icons
  --nav-project-icon: url(img/ui/folder.small.medium.svg);
  --nav-project-active-icon: url(img/ui/folder.fill.small.medium.svg);
  --nav-allDocs-icon: url(img/ui/doc.on.doc.small.medium.svg);
  --nav-allDocs-active-icon: url(img/ui/doc.on.doc.fill.small.medium.svg);
  --nav-mostRecent-icon: url(img/ui/clock.small.regular.svg);
  --nav-mostRecent-active-icon: url(img/ui/clock.fill.small.regular.svg);
  --nav-tags-icon: url(img/ui/tag.small.medium.svg);
  --nav-tags-active-icon: url(img/ui/tag.fill.small.medium.svg);
  --nav-media-icon: url(img/ui/photo.small.medium.svg);
  --nav-media-active-icon: url(img/ui/photo.fill.small.medium.svg);
  --nav-citations-icon: url(img/ui/quote.bubble.small.medium.svg);
  --nav-citations-active-icon: url(img/ui/quote.bubble.fill.small.medium.svg);
  --nav-search-icon: url(img/ui/magnifyingglass.small.regular.svg);
  --nav-search-active-icon: url(img/ui/magnifyingglass.small.regular.svg);
  
  // Sidebar > Project list icons
  --project-av-icon: url(img/ui/play.rectangle.medium.regular.svg);
  --project-doc-icon: url(img/ui/doc.text.medium.regular.svg);
  --project-folder-icon: url(img/ui/folder.medium.regular.svg);
  --project-image-icon: url(img/ui/photo.medium.regular.svg);

  // Button icons
  --block-options-expand-icon: url(img/ui/chevron.down.medium.semibold.svg);
  --checkbox-icon: url(img/ui/checkmark.small.heavy.svg);
  --disclosure-chevron-icon: url(img/ui/chevron.down.small.heavy.svg);
  --iconbutton-chevron-icon: url(img/ui/chevron.down.small.heavy.svg);
  --imagepreview-blank-icon: url(img/ui/rectangle.dashed.medium.regular.svg);
  --imagepreview-error-icon: url(img/ui/custom/image-not-found.svg);
  --input-error-icon: url(img/ui/exclamationmark.circle.fill.small.medium.svg);
  --lightbox-close-icon: url(img/ui/xmark.medium.regular.svg);
  --lightbox-prev-icon: url(img/ui/chevron.backward.large.light.svg);
  --menu-checkmark-img: url(img/ui/checkmark.small.heavy.svg);
  --popupButton-icon: url(img/ui/custom/chevron.up.down.svg);
  --pulldownButton-icon: url(img/ui/chevron.down.small.heavy.svg);
  --sortmenu-icon: url(img/ui/arrow.up.arrow.down.small.regular.svg);
  --stepper-chevron-icon: url(img/ui/chevron.down.small.heavy.svg);
  --toggle-sidebar-icon: url(img/ui/sidebar.left.medium.regular.svg);
  --search-field-icon: url(img/ui/magnifyingglass.small.regular.svg);
  
  // Tabs in Preferences panel
  --prefs-tab-citations-icon: url(img/ui/quote.bubble.medium.regular.svg);
  --prefs-tab-general-icon: url(img/ui/gearshape.medium.regular.svg);
  --prefs-tab-markdown-icon: url(img/ui/textformat.medium.regular.svg);
  --prefs-tab-media-icon: url(img/ui/photo.medium.regular.svg);
  --prefs-tab-theme-icon: url(img/ui/paintpalette.medium.regular.svg);
  
  // Used in topbar
  --topbar-file-av-icon: url(img/ui/play.rectangle.medium.regular.svg);
  --topbar-file-doc-icon: url(img/ui/doc.text.medium.regular.svg);
  --topbar-file-image-icon: url(img/ui/photo.medium.regular.svg);
  --topbar-new-doc-icon: url(img/ui/plus.medium.regular.svg);

}