body {
  --menu-checkmark-img: url(img/ui/checkmark.heavy.svg);

  --nav-project-icon: url(img/ui/folder.svg);
  --nav-project-active-icon: url(img/ui/folder.fill.svg);
  --nav-allDocs-icon: url(img/ui/doc.on.doc.svg);
  --nav-allDocs-active-icon: url(img/ui/doc.on.doc.fill.svg);
  --nav-mostRecent-icon: url(img/ui/clock.svg);
  --nav-mostRecent-active-icon: url(img/ui/clock.fill.svg);
  --nav-tags-icon: url(img/ui/tag.svg);
  --nav-tags-active-icon: url(img/ui/tag.fill.svg);
  --nav-media-icon: url(img/ui/photo.svg);
  --nav-media-active-icon: url(img/ui/photo.fill.svg);
  --nav-citations-icon: url(img/ui/quote.bubble.svg);
  --nav-citations-active-icon: url(img/ui/quote.bubble.fill.svg);
  --nav-search-icon: url(img/ui/magnifyingglass.svg);
  --nav-search-active-icon: url(img/ui/magnifyingglass.svg);

  // Button icons
  --new-doc-icon: url(img/ui/plus.medium.regular.svg);
  --block-options-expand-icon: url(img/ui/chevron.down.medium.semibold.svg);
  --checkbox-icon: url(img/ui/checkmark.heavy.svg);
  --disclosure-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  --iconbutton-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  --imagepreview-blank-icon: url(img/ui/rectangle.dashed.medium.regular.svg);
  --imagepreview-error-icon: url(img/ui/custom/image-not-found.svg);
  --input-error-icon: url(img/ui/exclamationmark.circle.fill.svg);
  --lightbox-close-icon: url(img/ui/xmark.medium.regular.svg);
  --lightbox-prev-icon: url(img/ui/chevron.backward.large.light.svg);
  --popupButton-icon: url(img/ui/chevron.up.down.svg);
  --prefs-tab-citations-icon: url(img/ui/quote.bubble.medium.regular.svg);
  --prefs-tab-general-icon: url(img/ui/gearshape.svg);
  --prefs-tab-markdown-icon: url(img/ui/textformat.medium.regular.svg);
  --prefs-tab-media-icon: url(img/ui/photo.medium.regular.svg);
  --prefs-tab-theme-icon: url(img/ui/paintpalette.medium.regular.svg);
  --pulldownButton-icon: url(img/ui/chevron.down.heavy.svg);
  --sortmenu-icon: url(img/ui/arrow.up.arrow.down.svg);
  --stepper-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  
  // --img-arrow-up-arrow-down: url(img/ui/arrow.up.arrow.down.svg);
  // --img-checkmark-heavy: url(img/ui/checkmark.heavy.svg);
  // --img-checkmark: url(img/ui/checkmark.svg);
  // --img-chevron-right: url(img/ui/chevron.right.svg);
  --img-chevron-down-bold: url(img/ui/chevron.down.bold.svg);
  --img-chevron-down-heavy: url(img/ui/chevron.down.heavy.svg);
  --img-chevron-up-down: url(img/ui/chevron.up.down.svg);
  --img-clock-fill: url(img/ui/clock.fill.svg);
  --img-clock: url(img/ui/clock.svg);
  --img-doc-on-doc-fill: url(img/ui/doc.on.doc.fill.svg);
  --img-doc-on-doc: url(img/ui/doc.on.doc.svg);
  --img-doc-text: url(img/ui/doc.text.svg);
  --img-exclamationmark-circle-fill: url(img/ui/exclamationmark.circle.fill.svg);
  --img-folder: url(img/ui/folder.svg);
  --img-folder-fill: url(img/ui/folder.fill.svg);
  --img-gearshape: url(img/ui/gearshape.svg);
  --img-magnifyingglass: url(img/ui/magnifyingglass.svg);
  --img-photo-fill: url(img/ui/photo.fill.svg);
  --img-photo: url(img/ui/photo.svg);
  --img-photo-medium-regular: url(img/ui/photo.medium.regular.svg);
  --img-play-rectangle-fill: url(img/ui/play.rectangle.fill.svg);
  --img-play-rectangle: url(img/ui/play.rectangle.svg);
  --img-quote-bubble-fill: url(img/ui/quote.bubble.fill.svg);
  --img-quote-bubble: url(img/ui/quote.bubble.svg);
  --img-quote-bubble-medium-regular: url(img/ui/quote.bubble.medium.regular.svg);
  --img-rectangle-grid-2x2: url(img/ui/rectangle.grid.2x2.svg);
  --img-sidebar-left: url(img/ui/sidebar.left.svg);
  --img-square-split-2x1-medium-regular: url(img/ui/square.split.2x1.medium.regular.svg);
  --img-tag-fill: url(img/ui/tag.fill.svg);
  --img-tag: url(img/ui/tag.svg);
  --img-textformat-medium-regular: url(img/ui/textformat.medium.regular.svg);
  --img-xmark-medium-regular: url(img/ui/xmark.medium.regular.svg);

}