@keyframes focusRingAnimationKeyframesMac {
  from {
    box-shadow: 0 0 0 25px transparent;
  }
  to {
    box-shadow: 0 0 0 3.5px var(--focus-ring-color);
  }
}
@keyframes dragOverAnimationKeyframesMac {
  from {
    box-shadow: inset 0 0 0 0 transparent;
    background: transparent;
  }
  to {
    box-shadow: inset 0 0 0 4px var(--focus-ring-color);
    background: hsla(var(--accentH), var(--accentS), var(--accentL), 0.2);
  }
}
/* ---------- HINT ---------- */
.CodeMirror-hints {
  font-family: system-ui;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.07px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 20em;
  min-width: 15em;
  background: var(--menu-background);
  border-radius: var(--menu-border-radius-compact);
  backdrop-filter: blur(8px);
}

li.CodeMirror-hint {
  line-height: 2em;
  padding: 0 0.5em;
  margin: 0;
  white-space: pre;
  color: var(--control-text-color);
  cursor: default;
  user-select: none;
}

li.CodeMirror-hint.CodeMirror-hint-active {
  background-color: var(--selected-list-item-color);
  color: var(--selected-menuitem-text-color);
}
li.CodeMirror-hint.CodeMirror-hint-active::after {
  color: var(--selected-menuitem-text-color);
  opacity: 0.5;
}

li.CodeMirror-hint::after {
  font-family: "SFMono-Regular";
  font-size: calc(var(--editor-fontsize) * 0.85);
  letter-spacing: -0.01em;
  color: var(--tertiary-label-color);
  position: absolute;
  right: 0.5em;
  letter-spacing: -0.08em;
}

li.CodeMirror-hint.citation::after {
  content: "[@...]";
}

li.CodeMirror-hint.inlineFootnote::after {
  content: "^[...]";
}

li.CodeMirror-hint.inlineImage::after {
  content: "![...](...)";
}

li.CodeMirror-hint.inlineLink::after {
  content: "[...](...)";
}

/* ---------- BASE ---------- */
.CodeMirror {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui;
  font-size: var(--editor-fontsize);
  line-height: var(--editor-lineheight);
  direction: ltr;
  padding-left: 10px;
}

/* ---------- PADDING ---------- */
.CodeMirror-lines {
  margin: 1em auto;
  min-width: 24em;
  max-width: calc(var(--editor-maxlinewidth) + var(--editor-leftPadding));
  padding: 0 0 10em;
  overflow: hidden;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding-left: var(--editor-leftPadding);
  /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}

/* ---------- GUTTER ---------- */
.CodeMirror-gutters {
  white-space: nowrap;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
}

/* ---------- CURSOR ---------- */
.CodeMirror-cursor {
  border-left: 1px solid rgba(var(--foregroundColor), 1);
  border-right: none;
  width: 0;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}

@-moz-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}
/* ---------- MISCELLANEOUS ---------- */
.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

/* ---------- STOP ---------- */
.CodeMirror {
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-right: -50px;
  /* Josh 10/2: Disabled this because it was screwing up keeping cursor visible. When auto-scrolling to keep cursor visible, if we were scrolling down page, it wouldn't scroll far enough, and cursor was not visible. By about one line height. */
  /* margin-bottom: -50px;  */
  /* padding-bottom: 50px; */
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
     before actual scrolling happens, thus preventing shaking and
     flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {
  z-index: 100;
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

:not(.CodeMirror-focused) .CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: var(--selected-text-background);
}

.CodeMirror-crosshair {
  cursor: text;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: var(--selected-text-background);
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #00ffe1;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: "";
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

@media (prefers-color-scheme: light) {
  body {
    --foregroundColor: 0, 0, 0;
    --backgroundColor: 255, 255, 255;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --foregroundColor: 255, 255, 255;
    --backgroundColor: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#layout {
  height: 100%;
  background-color: var(--windowBackgroundColor);
}

body {
  /* -------------- Easing -------------- */
  /* -------------- Images -------------- */
  --menu-checkmark-img: url(img/ui/checkmark.heavy.svg);
  --nav-project-icon: url(img/ui/folder.svg);
  --nav-project-active-icon: url(img/ui/folder.fill.svg);
  --nav-allDocs-icon: url(img/ui/doc.on.doc.svg);
  --nav-allDocs-active-icon: url(img/ui/doc.on.doc.fill.svg);
  --nav-mostRecent-icon: url(img/ui/clock.svg);
  --nav-mostRecent-active-icon: url(img/ui/clock.fill.svg);
  --nav-tags-icon: url(img/ui/tag.svg);
  --nav-tags-active-icon: url(img/ui/tag.fill.svg);
  --nav-media-icon: url(img/ui/photo.svg);
  --nav-media-active-icon: url(img/ui/photo.fill.svg);
  --nav-citations-icon: url(img/ui/quote.bubble.svg);
  --nav-citations-active-icon: url(img/ui/quote.bubble.fill.svg);
  --nav-search-icon: url(img/ui/magnifyingglass.svg);
  --nav-search-active-icon: url(img/ui/magnifyingglass.svg);
  --block-options-expand-icon: url(img/ui/chevron.down.medium.semibold.svg);
  --checkbox-icon: url(img/ui/checkmark.heavy.svg);
  --disclosure-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  --iconbutton-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  --imagepreview-blank-icon: url(img/ui/rectangle.dashed.medium.regular.svg);
  --imagepreview-error-icon: url(img/ui/custom/image-not-found.svg);
  --input-error-icon: url(img/ui/exclamationmark.circle.fill.svg);
  --lightbox-close-icon: url(img/ui/xmark.medium.regular.svg);
  --lightbox-prev-icon: url(img/ui/chevron.backward.large.light.svg);
  --popupButton-icon: url(img/ui/chevron.up.down.svg);
  --prefs-tab-citations-icon: url(img/ui/quote.bubble.medium.regular.svg);
  --prefs-tab-general-icon: url(img/ui/gearshape.svg);
  --prefs-tab-markdown-icon: url(img/ui/textformat.medium.regular.svg);
  --prefs-tab-media-icon: url(img/ui/photo.medium.regular.svg);
  --prefs-tab-theme-icon: url(img/ui/paintpalette.medium.regular.svg);
  --pulldownButton-icon: url(img/ui/chevron.down.heavy.svg);
  --sortmenu-icon: url(img/ui/arrow.up.arrow.down.svg);
  --stepper-chevron-icon: url(img/ui/chevron.down.heavy.svg);
  --img-chevron-down-bold: url(img/ui/chevron.down.bold.svg);
  --img-chevron-down-heavy: url(img/ui/chevron.down.heavy.svg);
  --img-chevron-up-down: url(img/ui/chevron.up.down.svg);
  --img-clock-fill: url(img/ui/clock.fill.svg);
  --img-clock: url(img/ui/clock.svg);
  --img-doc-on-doc-fill: url(img/ui/doc.on.doc.fill.svg);
  --img-doc-on-doc: url(img/ui/doc.on.doc.svg);
  --img-doc-text: url(img/ui/doc.text.svg);
  --img-exclamationmark-circle-fill: url(img/ui/exclamationmark.circle.fill.svg);
  --img-folder: url(img/ui/folder.svg);
  --img-folder-fill: url(img/ui/folder.fill.svg);
  --img-gearshape: url(img/ui/gearshape.svg);
  --img-magnifyingglass: url(img/ui/magnifyingglass.svg);
  --img-photo-fill: url(img/ui/photo.fill.svg);
  --img-photo: url(img/ui/photo.svg);
  --img-photo-medium-regular: url(img/ui/photo.medium.regular.svg);
  --img-play-rectangle-fill: url(img/ui/play.rectangle.fill.svg);
  --img-play-rectangle: url(img/ui/play.rectangle.svg);
  --img-quote-bubble-fill: url(img/ui/quote.bubble.fill.svg);
  --img-quote-bubble: url(img/ui/quote.bubble.svg);
  --img-quote-bubble-medium-regular: url(img/ui/quote.bubble.medium.regular.svg);
  --img-rectangle-grid-2x2: url(img/ui/rectangle.grid.2x2.svg);
  --img-sidebar-left: url(img/ui/sidebar.left.svg);
  --img-square-split-2x1-medium-regular: url(img/ui/square.split.2x1.medium.regular.svg);
  --img-tag-fill: url(img/ui/tag.fill.svg);
  --img-tag: url(img/ui/tag.svg);
  --img-textformat-medium-regular: url(img/ui/textformat.medium.regular.svg);
  --img-xmark-medium-regular: url(img/ui/xmark.medium.regular.svg);
  /* -------------- Border radius -------------- */
  --button-border-radius: 5.5px;
  --button-border-radius-compact: 4px;
  --menu-border-radius: 5.5px;
  --menu-border-radius-compact: 3.5px;
  /* -------------- Light Colors -------------- */
  /* -------------- Dark Colors -------------- */
}
@media (prefers-color-scheme: light) {
  body {
    /* ------ Accent-influenced ------ */
    --accent-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + 0%), 1);
    --focus-ring-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + -2%), 0.5);
    --selected-list-item-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + -6%), 1);
    --selected-text-background: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + 35%), 1);
    --nav-icon-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + 0%), 1);
    /* ------ Accent-influenced ------ */
    --lightbox-icon-color: #fff;
    /* ------ Buttons ------ */
    --button-label-color: #000000d8;
    --button-background: #ffffffff;
    --button-boxshadow: 0 0 0 0.5px rgba(0, 0, 0, 0.08), 0 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
    --inset-button-background: #ffffffff;
    --inset-button-boxshadow: inset 0 1.5px 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 0.5px rgba(0, 0, 0, 0.2);
    /* ------ Labels ------ */
    --label-color: #000000d8;
    --secondary-label-color: #0000007f;
    --tertiary-label-color: #00000042;
    /* ------ Text ------ */
    --text-color: #000000ff;
    --placeholder-text-color: #0000003f;
    --selected-menuitem-text-color: #ffffffff;
    --control-text-color: #000000d8;
    /* ------ Misc ------ */
    --menu-background: hsla(0, 0%, 95%, 0.8);
    --error-color: #fa6e50;
    /* ------ Unused (from mac) ------ */
    --selected-control-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + 35%), 1);
    --controlColor: #ffffffff;
    --controlBackgroundColor: #ffffffff;
    --alternateSelectedControlTextColor: #ffffffff;
    --disabledControlTextColor: #0000003f;
    --findHighlightColor: #ffff00ff;
    --gridColor: #e6e6e6ff;
    --headerTextColor: #000000d8;
    --highlightColor: #ffffffff;
    --linkColor: #0068daff;
    --quaternaryLabelColor: #00000019;
    --selectedControlTextColor: #000000d8;
    --selectedTextColor: #000000ff;
    --separator-color: #00000019;
    --shadowColor: #000000ff;
    --textBackgroundColor: #ffffffff;
    --unemphasizedSelectedContentBackgroundColor: #dcdcdcff;
    --unemphasizedSelectedTextBackgroundColor: #dcdcdcff;
    --unemphasizedSelectedTextColor: #000000ff;
    --windowBackgroundColor: #ecececff;
    --windowFrameTextColor: #000000d8;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    /* ------ Accent-influenced ------ */
    --accent-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + 0%), 1);
    --nav-icon-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + 0%), 1);
    --focus-ring-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 0%), calc(var(--accentL) + -2%), 0.5);
    --selected-list-item-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + -6%), 1);
    --selected-text-background: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + 35%), 1);
    /* ------ Controls ------ */
    --button-label-color: #ffffffd8;
    --button-background: #555656ff;
    --button-boxshadow: inset 0 0.5px 0 0 rgba(255, 255, 255, 0.25), 0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    --inset-button-background: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0)), var(--button-background);
    --inset-button-boxshadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 0 0 0.5px rgba(0, 0, 0, 0.15);
    /* ------ Labels ------ */
    --label-color: #ffffffd8;
    --secondary-label-color: #ffffff8c;
    --tertiary-label-color: #ffffff3f;
    /* ------ Text ------ */
    --text-color: #ffffffff;
    --placeholder-text-color: #ffffff3f;
    --selected-menuitem-text-color: #ffffffff;
    --control-text-color: #ffffffd8;
    /* ------ Misc ------ */
    --menu-background: hsla(0, 0%, 17%, 0.9);
    --error-color: #fa6e50;
    /* ------ OLD (to be converted) ------ */
    --selected-control-color: hsla(calc(var(--accentH) + 0), calc(var(--accentS) + 3%), calc(var(--accentL) + 35%), 1);
    --alternateSelectedControlTextColor: rgb(92, 84, 84);
    --controlBackgroundColor: #1e1e1eff;
    --controlColor: #ffffff3f;
    --disabledControlTextColor: #ffffff3f;
    --findHighlightColor: #ffff00ff;
    --gridColor: #ffffff19;
    --headerTextColor: #ffffffff;
    --highlightColor: #b4b4b4ff;
    --label-color: #ffffffd8;
    --linkColor: #419cffff;
    --placeholder-text-color: #ffffff3f;
    --quaternaryLabelColor: #ffffff19;
    --secondary-label-color: #ffffff8c;
    --selectedControlTextColor: #ffffffd8;
    --selected-menuitem-text-color: #ffffffff;
    --selectedTextColor: #ffffffff;
    --separator-color: #ffffff19;
    --shadowColor: #000000ff;
    --tertiary-label-color: #ffffff3f;
    --textBackgroundColor: #1e1e1eff;
    --text-color: #ffffffff;
    --unemphasizedSelectedContentBackgroundColor: #464646ff;
    --unemphasizedSelectedTextBackgroundColor: #464646ff;
    --unemphasizedSelectedTextColor: #ffffffff;
    --windowBackgroundColor: #323232ff;
    --windowFrameTextColor: #ffffffd8;
  }
}
