.cm-s-gambier-light {
  --clr-blue: rgb(13, 103, 220);
  --clr-blue-light: #b9d0ee;
  --clr-blue-lighter: rgb(232, 242, 255);
  --clr-gray-lighter: hsl(0, 0%, 85%);
}

.cm-s-gambier-light .CodeMirror-cursor {
  border-left: 1px solid gray;
}

.cm-s-gambier-light .CodeMirror-line.quote {
  color: var(--clr-blue);
  font-style: italic;
  text-indent: -0.85em;
  padding-left: 1em;
}

.cm-s-gambier-light .CodeMirror-line.quote::first-letter {
  color: var(--clr-blue-light);
}

.cm-s-gambier-light .cm-citation {
  background-color: lightgoldenrodyellow;
  color: rgba(0, 0, 0, 0.5);
}

.cm-s-gambier-light .cm-citation.cm-key {
  text-decoration: underline;
  color: black;
}

.cm-s-gambier-light .cm-code {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: #e7f9e8;
  color: #13570b;
  padding: 0.1em 0 0.2em;
}

.cm-s-gambier-light .cm-code.cm-md {
  color: #4db14c;
}

.cm-s-gambier-light .cm-em {
  color: var(--clr-blue);
  font-style: italic;
}

.cm-s-gambier-light .cm-em.cm-flank {
  color: var(--clr-blue-light);
}

.cm-s-gambier-light .CodeMirror-line.fencedcodeblock {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-light .CodeMirror-line.footnote-reference-definition {
  background-color: rgba(241, 186, 231, 0.2) !important;
  font-style: italic !important;
}

.cm-s-gambier-light .cm-footnote.cm-inline {
  background-color: rgba(219, 178, 211, 0.5);
}

.cm-s-gambier-light .cm-footnote.cm-reference {
  background-color: rgba(219, 178, 211, 0.5);
}

.cm-s-gambier-light .CodeMirror-line.frontmatter {
  background: rgba(0, 0, 0, 0.04);
}

.cm-s-gambier-light .header {
  color: var(--clr-gray-lighter);
}

.cm-s-gambier-light .header.h1 {
  font-weight: 700;
  margin-left: -0.8em;
}

.cm-s-gambier-light .header.h2 {
  margin-left: -1.4em;
  font-weight: 700;
}

.cm-s-gambier-light .header.h3 {
  font-weight: 500;
  margin-left: -2em;
}

.cm-s-gambier-light .header.h4 {
  margin-left: -2.6em;
}

.cm-s-gambier-light .header.h5 {
  margin-left: -3.2em;
}

.cm-s-gambier-light .header.h6 {
  margin-left: -3.2em;
}

.cm-s-gambier-light .header.h3, .cm-s-gambier-light .header.h4, .cm-s-gambier-light .header.h5, .cm-s-gambier-light .header.h6 {
  color: #9c9c9c;
}

.cm-s-gambier-light .cm-header-1 {
  text-decoration: underline;
}

.cm-s-gambier-light .cm-header-1::first-letter {
  text-decoration: none;
}

.cm-s-gambier-light .cm-header-1.cm-header-hash {
  text-decoration: none;
}

.cm-s-gambier-light .cm-header-3 {
  font-weight: normal;
  font-style: italic;
}

.cm-s-gambier-light .CodeMirror-line.hr {
  background-color: rgba(198, 198, 198, 0.2) !important;
}

.cm-s-gambier-light .cm-img {
  background-color: rgba(209, 177, 227, 0.5) !important;
}

.cm-s-gambier-light .CodeMirror-line.figure {
  background-color: rgba(209, 177, 227, 0.2) !important;
}

.cm-s-gambier-light .cm-link,
.cm-s-gambier-light .cm-autolink-url,
.cm-s-gambier-light .cm-autolink-email {
  background-color: rgba(173, 216, 230, 0.5);
  text-decoration: none;
}

.cm-s-gambier-light cm-inline .cm-link.cm-inline {
  background-color: rgba(173, 216, 230, 0.5);
  text-decoration: underline;
}

.cm-s-gambier-light .cm-link.cm-label {
  font-weight: bold;
}

.cm-s-gambier-light .cm-img.cm-url,
.cm-s-gambier-light .cm-link.cm-url {
  opacity: 0.8;
  color: #04789f;
  text-decoration: underline;
}

.cm-s-gambier-light .cm-img.cm-title,
.cm-s-gambier-light .cm-link.cm-title {
  opacity: 0.8;
  font-style: italic;
}

.cm-s-gambier-light .cm-link.cm-url:hover {
  opacity: 1;
}

.cm-s-gambier-light .CodeMirror-line.list-1 .list-marker,
.cm-s-gambier-light .CodeMirror-line.list-2 .list-marker,
.cm-s-gambier-light .CodeMirror-line.list-3 .list-marker,
.cm-s-gambier-light .CodeMirror-line.list-4 .list-marker {
  position: relative;
}

.cm-s-gambier-light .CodeMirror-line.list-1 .list-marker::before,
.cm-s-gambier-light .CodeMirror-line.list-2 .list-marker::before,
.cm-s-gambier-light .CodeMirror-line.list-3 .list-marker::before,
.cm-s-gambier-light .CodeMirror-line.list-4 .list-marker::before {
  content: attr(data-marker);
  color: var(--clr-blue);
  user-select: none;
  position: absolute;
  left: -1em;
}

.cm-s-gambier-light .taskOpen .cm-md,
.cm-s-gambier-light .taskClosed .cm-md {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
}

.cm-s-gambier-light .CodeMirror-line.list-1 {
  padding-left: 2em;
}

.cm-s-gambier-light .CodeMirror-line.list-2 {
  padding-left: 4em;
}

.cm-s-gambier-light .CodeMirror-line.list-3 {
  padding-left: 6em;
}

.cm-s-gambier-light .CodeMirror-line.list-4 {
  padding-left: 8em;
}

.cm-s-gambier-light .cm-texmath-inline {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-light .CodeMirror-line.texmath-display {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-light .cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-gambier-light .cm-md {
  color: red;
}

.cm-s-gambier-light .cm-strong {
  color: var(--clr-blue);
  font-weight: 700;
}

.cm-s-gambier-light .cm-strong.cm-flank {
  color: var(--clr-blue-light);
}

.cm-s-gambier-light.CodeMirror {
  background-color: #fff;
  color: #24292e;
}

.cm-s-gambier-light .CodeMirror-cursor {
  border-left: 1px solid #24292e;
}

.cm-s-gambier-light .CodeMirror-gutters {
  background: #fff;
  color: #24292e;
  border: none;
}

.cm-s-gambier-light .CodeMirror-guttermarker,
.cm-s-gambier-light .CodeMirror-guttermarker-subtle,
.cm-s-gambier-light .CodeMirror-linenumber {
  color: #fff;
}

.cm-s-gambier-light.CodeMirror-focused div.CodeMirror-selected {
  background: #B2D7FF;
}

.cm-s-gambier-light div.CodeMirror-selected {
  background: #f0f0f0;
}

.cm-s-gambier-light .cm-atom {
  color: #219;
}

.cm-s-gambier-light .cm-attribute {
  color: #00c;
}

.cm-s-gambier-light .cm-bracket {
  color: #997;
}

.cm-s-gambier-light .cm-builtin {
  color: #30a;
}

.cm-s-gambier-light .cm-comment {
  color: #a50;
}

.cm-s-gambier-light .cm-def {
  color: #00f;
}

.cm-s-gambier-light .cm-error {
  color: #f00;
}

.cm-s-gambier-light .cm-keyword {
  color: #708;
}

.cm-s-gambier-light .cm-meta {
  color: #555;
}

.cm-s-gambier-light .cm-negative {
  color: #d44;
}

.cm-s-gambier-light .cm-number {
  color: #164;
}

.cm-s-gambier-light .cm-positive {
  color: #292;
}

.cm-s-gambier-light .cm-qualifier {
  color: #555;
}

.cm-s-gambier-light .cm-string {
  color: #a11;
}

.cm-s-gambier-light .cm-string-2 {
  color: #f50;
}

.cm-s-gambier-light .cm-tag {
  color: #170;
}

.cm-s-gambier-light .cm-type {
  color: #085;
}

.cm-s-gambier-light .cm-variable-2 {
  color: #05a;
}

.cm-s-gambier-light .cm-variable-3 {
  color: #085;
}

/*# sourceMappingURL=gambier-light.css.map */