@use 'base';
@use "../_helpers/mediaqueries" as *;
@use "../_helpers/colors" as *;

// @use "../helpers" as *;
// .cm-s-gambier {
// }

body {
  // --font-size: 14px;
  // --line-height: 1.4em;

  @include light {
    // --link-mark: #83A4B9;
    --blockquote: #{accent($light: -10%)};
    --task-mark-closed-bg: var(--accent-color);
    --task-mark-closed-border: var(--accent-color);
    --list-marker: var(--accent-color);
    // --list-marker: #{accent($light: -2%, $alpha: 0.8)};
  }

}

// .mark2.cm-md,
// .mark2.cm-url {
//   // display: none;
//   width: 0;
// }

// .mark2.cm-link {
//   background: rgba(0, 20, 200, 0.1);
//   padding: 0.1em 0.2em;
//   border-radius: 2px;
// }

// .CodeMirror-line:not(.figure) .mark2.cm-image {
//   background: rgba(0, 200, 20, 0.1);
//   padding: 0.1em 0.2em;
//   // margin-left: -0.2em;
//   border-radius: 2px;
//   // width: 1em;
//   // height: 1em;
//   // display: inline-block;
//   // overflow: hidden;

//   // &::after {
//   //   content: 'i';
//   //   padding: 0.2em;
//   // }
// }



// .CodeMirror-line.figure{
//   outline: 1px solid rgba(200, 100, 0, 0.5);
//   height: auto;
//   // We have to set line-height to zero or we get extra
//   // padding at bottom of this line.
//   line-height: 0;
// }

// .CodeMirror-line.figure [role=presentation]{
//   display: grid;
//   grid-gap: 1em;
//   grid-template-columns: 8em 1fr;
//   grid-template-rows: 6em;
// }

// .CodeMirror-line.figure .CodeMirror-widget {
//   grid-column: 1;
//   grid-row: 1;
//   width: 100%;
//   height: auto;
//   cursor: default;
//   border-radius: var(--figure-thumbnail-border-radius);
//   background-color: indianred;
//   overflow: hidden;
// }

// .CodeMirror-line.figure .cm-text {
//   grid-column: 2;
//   grid-row: 1;
//   line-height: var(--cm-line-height);
//   outline: 1px solid yellowgreen;
// }
