// -------------- Light & Dark mode -------------- //

// More compact media queries for dark and light mode
// Usage: `@include dark { ... }`

@mixin dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin light {
    @media (prefers-color-scheme: light) {
        @content;
    }
}

// -------------- Color functions -------------- //
// Short-hand concise functions for colors.
// Use like: `background-color: white(0.2);`

@function foregroundColor($alpha) {
    @return rgba(var(--foregroundColor), $alpha);
}

@function backgroundColor($alpha) {
    @return rgba(var(--backgroundColor), $alpha);
}

@function white($alpha) {
    @return rgba(255, 255, 255, $alpha);
}

@function black($alpha) {
    @return rgba(0, 0, 0, $alpha);
}

@function gray($lightness, $alpha) {
    @return hsla(0, 0%, $lightness, $alpha);
}

// -------------- UI style variables -------------- //
// Variables for common styles in UI elements.
// E.g. gradient backgrounds for buttons.
// Useful because 1) they're concise, and 2) make re-use easy.

// Slight white gradient over `darkerControlAccentColor`
$btn-accent-bg: linear-gradient(white(0.15), white(0)), var(--darkerControlAccentColor);

// STANDARD BUTTONS: Push, popup, pulldown, etc.

$dark-btn-bg: var(--buttonBackgroundColor);
$dark-btn-outline: inset 0 0.5px 0 0 white(0.25),
    // Top bevel
    0 0 0 0.5px black(0.15),
    // Outline
    0 1px 1px 0 black(0.15); // Drop shadow

$light-btn-bg: var(--buttonBackgroundColor);
// was 'white'
$light-btn-outline: 0 0 0 0.5px black(0.08),
    // Outline
    0 0.5px 1px 0.5px black(0.1); // Drop shadow

// INSET BUTTONS: Radio, checkbox, etc.

$dark-inset-btn-bg: linear-gradient(hsla(0, 0%, 100%, 0.27), hsla(0, 0%, 100%, 0.38)), var(--buttonBackgroundColor);
$dark-inset-btn-outline: inset 0 1px 0 0 white(0.15),
    // Top bevel
    0 0 0 0.5px black(0.15); // Outline

$light-inset-btn-bg: var(--buttonBackgroundColor);
// was 'white'
$light-inset-btn-outline: inset 0 1.5px 1px 0 black(0.1),
    // Top inner shadow,
    inset 0 0 0 0.5px black(0.2); // Outline

// BORDER-RADIUS

$border-radius-normal: 5.5px;
$border-radius-compact: 4px;

// -------------- Layout mixins -------------- //

@mixin background_layout {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

@mixin centered_mask_image {
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

// @mixin absolute_centered {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }

// -------------- Set focus on field -------------- //
// Helpers for focus animations on field UI elements

@mixin focusFieldAnimation {
    animation-fill-mode: forwards;
    animation-name: selectField;
    animation-duration: 0.3s;
}

// The white(0.25) is there to lighten the controlAccentColor,
// which is too dark, compared to the macOS native field-focused
// color. The actual macOS color is not part of the official
// color set, so they must be manipulating controlAccentColor
// behind the scenes (boosting brightness + saturation).

// My solution is imperfect. It needs saturation boost to be
// closer to the macOS equivalent. But OTOH, it matches the
// accent color better.

@keyframes selectField {
    from {
        box-shadow: 0 0 0 20px transparent, 0 0 0 20px transparent;
    }
    to {
        box-shadow: 0 0 0 4px white(0.25), 0 0 0 4px var(--controlAccentColor);
    }
}

// -------------- Resets -------------- //

// @mixin button-reset {
//     background-color: transparent;
//     border: none;
//     outline: none;
//     padding: 0;
//     margin: 0;
// }

@mixin list-reset {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

// -------------- Materials -------------- //

// These are CSS equivalents to Apple's macOS materials. Materials "...define the amounts of translucency, blurring, and vibrancy applied to your interface.". Basically they are recipes of other macOS settings, e.g. degree of blurring, color, etc.
// UI docs: https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/translucency/
// List of macOS materials: https://developer.apple.com/documentation/appkit/nsvisualeffectview/material

// @mixin material-menu {
//     backdrop-filter: blur(8px);
//     background-color: var(--menuMaterialColor);
// }

// -------------- Patterns -------------- //

// From: https://gist.github.com/dfrankland/f6fed3e3ccc42e3de482b324126f9542
@mixin bg-checkerboard {
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 10px 10px; /* Must be a square */
    background-position: 0 0, 5px 0, 5px -5px, 0px 5px; /* Must be half of one side of the square */
}

// -------------- Typography -------------- //

@mixin code-typography {
    font-family: "SFMono-Regular";
    font-size: 0.9em;
}

// Labels - Normal

@mixin label-normal {
    font-family: system-ui;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.08px;
}

// NOTE: Not an actual Apple style
@mixin label-normal-bold {
    font-family: system-ui;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.08px;
}

@mixin label-normal-small {
    font-family: system-ui;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0px;
    // letter-spacing: 0.07px;
}

@mixin label-normal-small-bold {
    font-family: system-ui;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    // letter-spacing: 0.07px;
}

// Labels - Large
@mixin label-large-bold {
    font-family: "SF Pro Display";
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.12px;
}

// Columns
@mixin column {
    font-family: system-ui;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.07px;
}

// UNUSED

// // Used for the content of controls
// @mixin controlContentFont {
//     font: caption;
//     font-size: 12px;
//     line-height: 14.1px;
// }

// // Used for standard interface labels
// @mixin labelFont {
//     font: caption;
//     font-size: 10px;
//     line-height: 11.8px;
// }

// // Used for menu items
// @mixin menuFont {
//     font: caption;
//     font-size: 10px;
//     line-height: 11.8px;
// }

// // Used for menu bar items
// @mixin menuBarFont {
//     font: caption;
//     font-size: 14px;
//     line-height: 16.5px;
// }

// // Used for standard interface items, such as button labels and menu items
// @mixin messageFont {
//     font: caption;
//     font-size: 13px;
//     line-height: 15.3px;
// }

// // Used for window title bars
// @mixin titleBarFont {
//     font: caption;
//     font-size: 13px;
//     line-height: 15.3px;
// }

// // Used for tool tips labels
// @mixin toolTipsFont {
//     font: caption;
//     font-size: 11px;
//     line-height: 13px;
// }

// // Used for default for documents and other text under the user’s control (that is, text whose font the user can normally change).
// @mixin userFont {
//     font-family: 'Helvetica';
//     font-size: 12px;
//     line-height: 12px;
// }

// // Used by default for documents and other text under the user’s control (that is, text whose font the user can normally change), when that font should be fixed-pitch.
// @mixin userFixedPitchFont {
//     font-family: 'Menlo-Regular';
//     font-size: 11px;
//     line-height: 12.8px;
// }

// // The standard system font in boldface type
// @mixin boldSystemFont {
//     font: caption;
//     font-weight: bold;
//     font-size: 13.0px;
//     line-height: 15.3px;
// }

// // The standard system font
// @mixin systemFont {
//     font: caption;
//     font-size: 13.0px;
//     line-height: 15.3px;
// }
