@import "variables";
// @import "mixins";
// @import "citation-collapsed";

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#layout {
    height: 100%;
}

.flexContainerRow {
    display: flex;
    flex-direction: horizontal;
    width: 100%;
    height: 100%;
}

.flexContainerColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flexPanel {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: none;

    &.visible {
        display: block;
    }

    .divider {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, 0);
        width: 8px;
        height: 100%;
        z-index: 200;
        cursor: ew-resize;
    }
}



// // -------------- DOC LIST -------------- //

// #docList {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     backdrop-filter: brightness(0.4);
//     background-color: rgba(255, 255, 255, 0.1);
//     // background-color: rgba(255, 255, 255, 0.6);
//     // background-color: var(--windowBackgroundColor);

//     #header {
//         margin: 0;
//         padding: 0.5rem;
//         border-right: 1px solid var(--separatorColor);
//         border-bottom: 1px solid var(--separatorColor);
//         width: 100%;
//         z-index: 1;
//         position: relative;
//         overflow: hidden;
//         display: flex;
//         flex-wrap: nowrap;
//         align-items: center;
//         justify-content: space-between;
//         height: 2rem;

//         h1 {
//             @include label-normal;
//             font-weight: bold;
//             margin: 0;
//             padding: 0;
//             white-space: nowrap;
//             color: var(--labelColor);
//         }

//         &:hover #sorting-options {
//             display: block;
//         }
//     }

//     #sorting-options {
//         @include label-normal-small;

//         display: none;
//         position: absolute;
//         right: 0.5em;
//         top: 50%;
//         transform: translate(0%, -50%);
//         background: white;
//         color: var(--labelColor);
//         // padding-left: 0.5rem;
//         box-shadow: 0px 0px 15px 20px white;

//         select {
//             @include label-normal-small;
//             font-weight: bold;
//         }
//     }

//     #docs {
//         width: 100%;
//         flex-grow: 1;
//         overflow-y: scroll;
//         border-right: 1px solid var(--separatorColor);
//         padding: 0;
//         user-select: none;
//     }

//     .doc {
//         padding: 0.5em 1em 0.5em;
//         overflow-y: hidden;
//         border-bottom: 1px solid var(--separatorColor);
//         contain: content;

//         &:focus {
//             outline: none;
//         }
//     }

//     h2,
//     p {
//         margin: 0;
//         padding: 0;
//         pointer-events: none;
//         word-break: break-word;
//     }

//     h2 {
//         @include column;
//         color: var(--labelColor);
//     }

//     p {
//         @include column;
//         color: var(--secondaryLabelColor);
//         height: 4em;
//         // display: -webkit-box;
//         // -webkit-line-clamp: 3;
//         // -webkit-box-orient: vertical;
//         overflow: hidden;
//     }

//     .selected {
//         background-color: var(--unemphasizedSelectedContentBackgroundColor);
//     }

//     .focused.selected {
//         h2 {
//             color: var(--selectedMenuItemTextColor);
//         }
//         p {
//             color: var(--selectedMenuItemTextColor);
//             opacity: 0.8;
//         }
//         background-color: var(--controlAccentColor);
//     }
// }
