.cm-s-gambier {
    &.CodeMirror {
        /* border: 1px solid #eee; */
        font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
        font-size: var(--font-base-size);
        line-height: var(--baseLineHeight);
    }

    /* -------------- Frontmatter -------------- */

    .frontmatter span {
        color: gray;
    }

    pre.frontmatter {
        background: rgba(0, 0, 0, 0.04);
    }

    /* -------------- Citation -------------- */

    // .cm-citation {
    //     color: palevioletred;

    //     &.expand {
    //         color: greenyellow;
    //     }
    // }

    /* -------------- Wikilink -------------- */

    .cm-wikilink {
        color: turquoise;
    }

    /* -------------- Figure -------------- */

    .figure span {
        color: pink;
    }
}

/* 
========================================================
OLD
========================================================
*/
.cm-s-gambier.CodeMirror {
    background: #fff;
    color: var(--clr-editorText);
}

.cm-s-gambier .CodeMirror-gutters {
    background: #fff;
    border-right-width: 0;
}

.cm-s-gambier .CodeMirror-guttermarker {
    color: white;
}

.cm-s-gambier .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-gambier .CodeMirror-linenumber {
    color: #959da5;
    padding: 0 16px 0 16px;
}

.cm-s-gambier .CodeMirror-cursor {
    border-left: 1px solid #24292e;
}

.cm-s-gambier div.CodeMirror-selected,
.cm-s-gambier .CodeMirror-line::selection,
.cm-s-gambier .CodeMirror-line > span::selection,
.cm-s-gambier .CodeMirror-line > span > span::selection,
.cm-s-gambier .CodeMirror-line::-moz-selection,
.cm-s-gambier .CodeMirror-line > span::-moz-selection,
.cm-s-gambier .CodeMirror-line > span > span::-moz-selection {
    background: #b4d7ff;
}

.cm-s-gambier .CodeMirror-activeline-background {
    background: #fafbfc;
}

.cm-s-gambier .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #24292e !important;
}

.cm-s-gambier .CodeMirror-lines {
    /* font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; */
    background: #fff;
}

.cm-s-gambier .cm-comment {
    color: #6a737d;
}

.cm-s-gambier .cm-constant {
    color: #005cc5;
}

.cm-s-gambier .cm-entity {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #6f42c1;
}

.cm-s-gambier .cm-keyword {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #d73a49;
}

.cm-s-gambier .cm-storage {
    color: #d73a49;
}

.cm-s-gambier .cm-string {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #032f62;
}

.cm-s-gambier .cm-support {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #005cc5;
}

.cm-s-gambier .cm-variable {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #e36209;
}
