.cm-s-gambier {
    color: var(--clr-editorText);

    // -------------- Cursor -------------- //

    .CodeMirror-cursor {
        border-left: 1px solid gray;
    }

    // -------------- Selection -------------- //

    // Only this one actually does anything? Not sure the others work...
    .CodeMirror-selected {
        background: #b4d7ff;
    }
    .CodeMirror-focused .CodeMirror-selected {
        background: red;
    }
    .CodeMirror-line::selection,
    .CodeMirror-line > span::selection,
    .CodeMirror-line > span > span::selection {
        background: yellow;
    }
    .CodeMirror-line::-moz-selection,
    .CodeMirror-line > span::-moz-selection,
    .CodeMirror-line > span > span::-moz-selection {
        background: green;
    }

    // -------------- Lists -------------- //

    .CodeMirror-line.list1,
    .CodeMirror-line.list2,
    .CodeMirror-line.list3,
    .CodeMirror-line.list4 {
        .list-marker {
            position: relative;
        }

        .list-marker::before {
            content: attr(data-marker);
            color: var(--clr-blue);
            user-select: none;
            position: absolute;
            left: -1em;
        }

        // Solution 1:
        // span[role="presentation"] {
        //     position: relative;
        // }

        // & > span:before {
        //     content: "*";
        //     color: var(--clr-blue);
        //     user-select: none;
        //     position: absolute;
        //     left: -1em;
        // }
    }

    .CodeMirror-line.list1 {
        padding-left: 2em;
    }
    .CodeMirror-line.list2 {
        padding-left: 4em;
    }
    .CodeMirror-line.list3 {
        padding-left: 6em;
    }
    .CodeMirror-line.list4 {
        padding-left: 8em;
    }

    /* -------------- Blockquote -------------- */

    .CodeMirror-line.blockquote {
        color: var(--clr-blue);
        font-style: italic;
        padding-left: 1em;
        text-indent: -0.85em;

        &::first-letter {
            color: var(--clr-blue-light);
        }
    }

    // -------------- Frontmatter -------------- //

    .CodeMirror-line.frontmatter {
        background: rgba(0, 0, 0, 0.04);
    }

    /* -------------- Citation -------------- */

    .cm-citation {
        color: palevioletred;
    }

    /* -------------- Strong -------------- */

    .cm-strong {
        color: var(--clr-blue);
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    /* -------------- Emphasis -------------- */

    .cm-em {
        color: var(--clr-blue);
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    /* -------------- Emphasis -------------- */

    .cm-code {
        color: #13570b;
        background-color: #e7f9e8;
        padding: 0.1em 0 0.2em;
        font-size: 0.9em;
        font-family: "SFMono-Regular";
        // font-family: "SFMono-Regular";
        &.cm-flank {
            color: #92e290;
        }
    }

    /* -------------- Headers -------------- */

    .cm-header-hash {
        color: var(--clr-gray-lighter);

        &.cm-header-1 {
            margin-left: -0.8em;
        }

        &.cm-header-2 {
            margin-left: -1.4em;
            font-weight: 500;
        }

        &.cm-header-3 {
            margin-left: -2em;
        }

        &.cm-header-4 {
            margin-left: -2.6em;
        }

        &.cm-header-5 {
            margin-left: -3.2em;
        }

        &.cm-header-6 {
            margin-left: -3.2em;
        }
    }

    .cm-header-1 {
        text-decoration: underline;
        &::first-letter {
            text-decoration: none;
        }
        &.cm-header-hash {
            text-decoration: none;
        }
    }

    .cm-header-3 {
        font-weight: normal;
        font-style: italic;
    }
}

/* 
========================================================
OLD
========================================================
*/

// .cm-s-gambier .CodeMirror-gutters {
//     background: #fff;
//     border-right-width: 0;
// }

// .cm-s-gambier .CodeMirror-guttermarker {
//     color: white;
// }

// .cm-s-gambier .CodeMirror-guttermarker-subtle {
//     color: #d0d0d0;
// }

// .cm-s-gambier .CodeMirror-linenumber {
//     color: #959da5;
//     padding: 0 16px 0 16px;
// }

.cm-s-gambier {
    div.CodeMirror-selected,
    .CodeMirror-line::selection,
    .CodeMirror-line > span::selection,
    .CodeMirror-line > span > span::selection,
    .CodeMirror-line::-moz-selection,
    .CodeMirror-line > span::-moz-selection,
    .CodeMirror-line > span > span::-moz-selection {
        background: #b4d7ff;
    }

    .CodeMirror-activeline-background {
        background: #fafbfc;
    }

    .CodeMirror-matchingbracket {
        text-decoration: underline;
        color: #24292e !important;
    }

    .cm-comment {
        color: #6a737d;
    }

    .cm-constant {
        color: #005cc5;
    }

    .cm-entity {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: #6f42c1;
    }

    .cm-keyword {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: #d73a49;
    }

    .cm-storage {
        color: #d73a49;
    }

    .cm-string {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: #032f62;
    }

    .cm-support {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: #005cc5;
    }

    .cm-variable {
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: #e36209;
    }
}
