@import "variables";
// @import "codemirror-theme";
// @import "citation-collapsed";

* {
    box-sizing: border-box;
}

html {
    // font-size: var(--baseFontSize);
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    // display: grid;
    // grid-auto-flow: row;
    // grid-auto-rows: 100%;
    // grid-template-columns: var(--layout);
    // background-color: transparent;

    // @include systemFont;
    // margin: 0;
    // padding: 0;
    // font-size: 16px;
    // line-height: var(--baseLineHeight);
    // height: 100%;
    // // height: 40em; // Might need this for codewarrior?
    // color: var(--body-color);
}

#layout {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// -------------- Editor -------------- //

// Docs: https://codemirror.net/doc/manual.html#styling

// ".CodeMirror: The outer element of the editor. This should be used for the editor width, height, borders and positioning. Can also be used to set styles that should hold for everything inside the editor (such as font and font size), or to set a background. Setting this class' height style to auto will make the editor resize to fit its content (it is recommended to also set the viewportMargin option to Infinity when doing this."
.CodeMirror {
    
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
    font-size: var(--font-sml-1);
    line-height: var(--baseLineHeight);

    // "The visible lines. This is where you specify vertical padding for the editor content."
    .CodeMirror-lines {

        // We want the white space on the left and right of each line to be a selectable.
        // thereby increasing the hit target for selections. Hence the large margin.
        // The margin `auto` width value also automatically centers the content.
        margin: var(--grid) auto;
        min-width: 30em;
        max-width: 48em;
        
        // Add padding to bottom of doc, so that when we're at bottom of
        // scroll, there's padding before edge of editor.
        padding: 0 3em 18em;        
    }
}