:root {
  /* -------------- Easing -------------- */
  --standardEase: cubic-bezier(0.4, 0, 0.2, 1);
  --decelerateEase: cubic-bezier(0, 0, 0.2, 1);
  /* -------------- Images -------------- */
  --img-arrow-up-arrow-down: url(styles/themes/gambier-light/img/arrow.up.arrow.down.svg);
  --img-checkmark: url(styles/themes/gambier-light/img/checkmark.svg);
  --img-chevron-right: url(styles/themes/gambier-light/img/chevron.right.svg);
  --img-chevron-down-bold: url(styles/themes/gambier-light/img/chevron.down.bold.svg);
  --img-chevron-down-heavy: url(styles/themes/gambier-light/img/chevron.down.heavy.svg);
  --img-chevron-up-down: url(styles/themes/gambier-light/img/chevron.up.down.svg);
  --img-clock-fill: url(styles/themes/gambier-light/img/clock.fill.svg);
  --img-clock: url(styles/themes/gambier-light/img/clock.svg);
  --img-doc-on-doc-fill: url(styles/themes/gambier-light/img/doc.on.doc.fill.svg);
  --img-doc-on-doc: url(styles/themes/gambier-light/img/doc.on.doc.svg);
  --img-doc-text: url(styles/themes/gambier-light/img/doc.text.svg);
  --img-folder-fill: url(styles/themes/gambier-light/img/folder.fill.svg);
  --img-folder: url(styles/themes/gambier-light/img/folder.svg);
  --img-magnifyingglass: url(styles/themes/gambier-light/img/magnifyingglass.svg);
  --img-photo-fill: url(styles/themes/gambier-light/img/photo.fill.svg);
  --img-photo: url(styles/themes/gambier-light/img/photo.svg);
  --img-play-rectangle-fill: url(styles/themes/gambier-light/img/play.rectangle.fill.svg);
  --img-play-rectangle: url(styles/themes/gambier-light/img/play.rectangle.svg);
  --img-quote-bubble-fill: url(styles/themes/gambier-light/img/quote.bubble.fill.svg);
  --img-quote-bubble: url(styles/themes/gambier-light/img/quote.bubble.svg);
  --img-rectangle-grid-2x2: url(styles/themes/gambier-light/img/rectangle.grid.2x2.svg);
  --img-sidebar-left: url(styles/themes/gambier-light/img/sidebar.left.svg);
  --img-tag-fill: url(styles/themes/gambier-light/img/tag.fill.svg);
  --img-tag: url(styles/themes/gambier-light/img/tag.svg);
}

:root {
  --titlebarMaterial: rgba();
  --selectionMaterial: rgba();
  --menuMaterial: rgba();
  --popoverMaterial: rgba();
  --sidebarMaterial: rgba(255, 255, 255, 0);
  --headerMaterial: rgba();
  --sheetMaterial: rgba();
  --windowMaterial: rgba();
  --hudMaterial: rgba();
  --fullscreenMaterial-ui: rgba();
  --tooltipMaterial: rgba();
  --contentMaterial: rgba();
  --systemBlue: rgba(10, 132, 255, 1);
  --systemBrown: rgba(172, 142, 104, 1);
  --systemGray: rgba(152, 152, 157, 1);
  --systemGreen: rgba(50, 215, 75, 1);
  --systemIndigo: rgba(94, 92, 230, 1);
  --systemOrange: rgba(255, 159, 10, 1);
  --systemPink: rgba(255, 55, 95, 1);
  --systemPurple: rgba(191, 90, 242, 1);
  --systemRed: rgba(255, 69, 58, 1);
  --systemTeal: rgba(100, 210, 255, 1);
  --systemYellow: rgba(255, 214, 10, 1);
  --labelColor: rgba(255, 255, 255, 0.847);
  --secondaryLabelColor: rgba(255, 255, 255, 0.549);
  --tertiaryLabelColor: rgba(255, 255, 255, 0.247);
  --quaternaryLabelColor: rgba(255, 255, 255, 0.098);
  --textColor: rgba(255, 255, 255, 1);
  --placeholderTextColor: rgba(255, 255, 255, 0.247);
  --selectedTextColor: rgba(255, 255, 255, 1);
  --textBackgroundColor: rgba(30, 30, 30, 1);
  --selectedTextBackgroundColor: rgba(63, 99, 139, 1);
  --keyboardFocusIndicatorColor: rgba(26, 169, 255, 0.298);
  --unemphasizedSelectedTextColor: rgba(255, 255, 255, 1);
  --unemphasizedSelectedTextBackgroundColor: rgba(70, 70, 70, 1);
  --linkColor: rgba(65, 156, 255, 1);
  --separatorColor: rgba(255, 255, 255, 0.098);
  --selectedContentBackgroundColor: rgba(0, 88, 208, 1);
  --unemphasizedSelectedContentBackgroundColor: rgba(70, 70, 70, 1);
  --selectedMenuItemTextColor: rgba(255, 255, 255, 1);
  --gridColor: rgba(255, 255, 255, 0.098);
  --headerTextColor: rgba(255, 255, 255, 1);
  --controlAccentColor: rgba(0, 122, 255, 1);
  --controlColor: rgba(255, 255, 255, 0.247);
  --controlBackgroundColor: rgba(30, 30, 30, 1);
  --controlTextColor: rgba(255, 255, 255, 0.847);
  --disabledControlTextColor: rgba(255, 255, 255, 0.247);
  --selectedControlColor: rgba(63, 99, 139, 1);
  --selectedControlTextColor: rgba(255, 255, 255, 0.847);
  --alternateSelectedControlTextColor: rgba(255, 255, 255, 1);
  --windowBackgroundColor: rgba(50, 50, 50, 1);
  --windowFrameTextColor: rgba(255, 255, 255, 0.847);
  --findHighlightColor: rgba(255, 255, 0, 1);
  --highlightColor: rgba(180, 180, 180, 1);
  --shadowColor: rgba(0, 0, 0, 1);
}

.cm-s-gambier-dark {
  --clr-blue: rgb(13, 103, 220);
  --clr-blue-light: #b9d0ee;
  --clr-blue-lighter: rgb(232, 242, 255);
  --clr-gray-darker: hsl(0, 0%, 15%);
  --clr-gray-lighter: hsl(0, 0%, 85%);
}

.cm-s-gambier-dark #autocomplete {
  position: relative;
}

.cm-s-gambier-dark #autocomplete:focus, .cm-s-gambier-dark #autocomplete:focus-within {
  outline: 1px solid transparent;
}

.cm-s-gambier-dark #autocompleteMenu {
  width: 10em;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--clr-blue-lighter);
  opacity: 0;
  visibility: hidden;
}

.cm-s-gambier-dark #autocompleteMenu .label {
  flex-grow: 1;
}

.cm-s-gambier-dark #autocompleteMenu .preview {
  opacity: 0.5;
}

.cm-s-gambier-dark #autocompleteMenu.visible {
  opacity: 1;
  visibility: visible;
}

.cm-s-gambier-dark #autocompleteMenu ul,
.cm-s-gambier-dark #autocompleteMenu li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cm-s-gambier-dark #autocompleteMenu li {
  padding: 0 0.3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
}

.cm-s-gambier-dark #autocompleteMenu li.selected {
  background-color: var(--clr-blue-light);
}

.cm-s-gambier-dark .widget.editable {
  text-decoration: none;
}

.cm-s-gambier-dark .widget.editable :focus {
  outline: none;
}

.cm-s-gambier-dark .widget.editable::before {
  content: "|";
  opacity: 0;
}

.cm-s-gambier-dark .widget.editable:not(.reference)::after {
  content: "|";
  opacity: 0;
}

.cm-s-gambier-dark .widget.reference {
  overflow-y: hidden;
}

.cm-s-gambier-dark .widget .select {
  background-image: url(img/down-arrow-notch.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  padding: 0 0.5em !important;
  opacity: 0.5;
  cursor: default;
}

.cm-s-gambier-dark .widget .select:hover {
  opacity: 0.8;
}

.cm-s-gambier-dark .highlight.widget .select {
  filter: brightness(100);
}

.cm-s-gambier-dark .widget.error {
  box-shadow: 0px 1px rgba(255, 0, 0, 0.5);
}

.cm-s-gambier-dark .widget {
  border-radius: 0.15em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.cm-s-gambier-dark .widget:focus {
  outline: none;
}

.cm-s-gambier-dark [data-metakeydown="true"] .widget.reference:hover,
.cm-s-gambier-dark [data-metakeydown="true"] .widget.cm-image:hover,
.cm-s-gambier-dark [data-metakeydown="true"] .widget.cm-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cm-s-gambier-dark #preview {
  --notch-size: 0.6em;
  --popup-distance: -0.5em;
  --show: 0.05s;
  --hide: 0.05s;
  --delay: 1s;
  background-color: #f2f2f2;
  border-radius: var(--grid-eighth);
  color: var(--clr-gray-darker);
  font-size: var(--font-sml-2);
  line-height: var(--grid-three-quarters);
  opacity: 0;
  padding: var(--grid-quarter);
  position: absolute;
  transform: translate(0%, 2em);
  white-space: normal;
  width: 20em;
  z-index: 100;
  outline: none;
}

.cm-s-gambier-dark #preview.hide {
  opacity: 0;
}

.cm-s-gambier-dark #preview.error {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.cm-s-gambier-dark #preview #tip {
  opacity: 0.5;
  margin-top: var(--grid-eigth);
}

.cm-s-gambier-dark #preview #url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--grid-quarter);
}

.cm-s-gambier-dark #preview #url #dir {
  opacity: 0.5;
}

.cm-s-gambier-dark #preview #url #base {
  opacity: 1;
}

.cm-s-gambier-dark #preview #image-preview {
  max-width: 100%;
  min-height: 4em;
}

.cm-s-gambier-dark #preview #image-preview img {
  width: 100%;
}

.cm-s-gambier-dark [data-metakeydown="false"] #preview.show {
  transition: opacity 0.1s ease-in 0.2s;
  opacity: 1;
}

.cm-s-gambier-dark [data-metakeydown="true"] #preview.show {
  opacity: 1;
}

.cm-s-gambier-dark #wizard {
  --notch-size: 0.6em;
  --popup-distance: -0.5em;
  --show: 0.05s;
  --hide: 0.05s;
  --delay: 0.5s;
  background-color: #f2f2f2;
  border-radius: var(--grid-eighth);
  color: var(--clr-gray-darker);
  font-size: var(--font-sml-1);
  line-height: var(--grid-three-quarters);
  opacity: 0;
  padding: var(--grid-quarter);
  position: absolute;
  transform: translate(0%, 2em);
  transition-delay: var(--delay);
  transition-timing-function: ease-out;
  transition: opacity var(--hide);
  white-space: normal;
  width: 20em;
  z-index: 100;
  /* Notch */
}

.cm-s-gambier-dark #wizard.visible {
  outline: none;
  opacity: 1;
  transition: opacity var(--show);
  transition-timing-function: ease-in;
}

.cm-s-gambier-dark #wizard.error {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.cm-s-gambier-dark #wizard #contents.reference {
  margin-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border-radius: 0.2em;
}

.cm-s-gambier-dark #wizard #contents :disabled {
  opacity: 0.5;
}

.cm-s-gambier-dark #wizard header {
  display: flex;
}

.cm-s-gambier-dark #wizard header h1 {
  flex-grow: 1;
  margin: 0;
  padding: 0.5em 0 0;
}

.cm-s-gambier-dark #wizard h1,
.cm-s-gambier-dark #wizard h2,
.cm-s-gambier-dark #wizard label,
.cm-s-gambier-dark #wizard input {
  margin: 0;
  font-size: var(--font-sml-1);
  line-height: var(--grid-three-quarters);
}

.cm-s-gambier-dark #wizard h1,
.cm-s-gambier-dark #wizard h2 {
  padding-bottom: var(--grid-quarter);
}

.cm-s-gambier-dark #wizard label {
  padding-bottom: var(--grid-eighth);
}

.cm-s-gambier-dark #wizard input {
  margin-bottom: var(--grid-quarter);
}

.cm-s-gambier-dark #wizard textarea {
  display: block;
  width: 100%;
  font-size: var(--font-sml-1);
  padding: var(--grid-sixth);
}

.cm-s-gambier-dark #wizard label {
  display: block;
}

.cm-s-gambier-dark #wizard label:not([required]) {
  opacity: 0.5;
}

.cm-s-gambier-dark #wizard label:not([required])::after {
  content: "Optional";
  font-style: italic;
}

.cm-s-gambier-dark #wizard input {
  border-radius: 0.15em;
  width: 100%;
}

.cm-s-gambier-dark .CodeMirror-cursor {
  border-left: 1px solid gray;
}

.cm-s-gambier-dark .CodeMirror-line.quote {
  color: var(--clr-blue);
  font-style: italic;
  text-indent: -0.85em;
  padding-left: 1em;
}

.cm-s-gambier-dark .CodeMirror-line.quote::first-letter {
  color: var(--clr-blue-light);
}

.cm-s-gambier-dark .cm-citation {
  background-color: lightgoldenrodyellow;
  color: rgba(0, 0, 0, 0.5);
}

.cm-s-gambier-dark .cm-citation.cm-key {
  text-decoration: underline;
  color: black;
}

.cm-s-gambier-dark .citation {
  color: rgba(0, 0, 0, 0.5);
  background-color: lightgoldenrodyellow;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cm-s-gambier-dark .cm-code {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: #e7f9e8;
  color: #13570b;
  padding: 0.1em 0 0.2em;
}

.cm-s-gambier-dark .cm-code.cm-md {
  color: #4db14c;
}

.cm-s-gambier-dark .cm-em {
  color: var(--clr-blue);
  font-style: italic;
}

.cm-s-gambier-dark .cm-em.cm-flank {
  color: var(--clr-blue-light);
}

.cm-s-gambier-dark .CodeMirror-line.fencedcodeblock {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-dark .widget.cm-footnote {
  font-weight: normal;
  padding-left: 0.3em;
}

.cm-s-gambier-dark .widget.cm-footnote:before {
  content: "fn";
}

.cm-s-gambier-dark .widget.cm-footnote.highlight {
  background-color: rgba(171, 80, 152, 0.5);
}

.cm-s-gambier-dark .widget.cm-footnote:not(.reference) {
  padding-right: 0.3em;
}

.cm-s-gambier-dark .cm-footnote {
  background-color: rgba(219, 178, 211, 0.5);
}

.cm-s-gambier-dark .CodeMirror-line.footnote-reference-definition,
.cm-s-gambier-dark .CodeMirror-line.footnote-reference-definition-continued {
  background-color: rgba(241, 186, 231, 0.2) !important;
  font-style: italic !important;
}

.cm-s-gambier-dark .CodeMirror-line.frontmatter {
  background: rgba(0, 0, 0, 0.04);
}

.cm-s-gambier-dark .header {
  color: var(--clr-gray-lighter);
}

.cm-s-gambier-dark .header.h1 {
  font-weight: 700;
}

.cm-s-gambier-dark .header.h2 {
  font-weight: 700;
}

.cm-s-gambier-dark .header.h3 {
  font-weight: 500;
}

.cm-s-gambier-dark .header.h3, .cm-s-gambier-dark .header.h4, .cm-s-gambier-dark .header.h5, .cm-s-gambier-dark .header.h6 {
  color: #9c9c9c;
}

.cm-s-gambier-dark .cm-header-1 {
  text-decoration: underline;
}

.cm-s-gambier-dark .cm-header-1::first-letter {
  text-decoration: none;
}

.cm-s-gambier-dark .cm-header-1.cm-header-hash {
  text-decoration: none;
}

.cm-s-gambier-dark .cm-header-3 {
  font-weight: normal;
  font-style: italic;
}

.cm-s-gambier-dark .CodeMirror-line.hr {
  background-color: rgba(198, 198, 198, 0.2) !important;
}

.cm-s-gambier-dark .cm-image {
  background-color: rgba(241, 188, 127, 0.5) !important;
}

.cm-s-gambier-dark .widget.cm-image {
  padding-left: 0.4em;
}

.cm-s-gambier-dark .widget.cm-image:not(.reference) {
  padding-right: 0.4em;
}

.cm-s-gambier-dark .CodeMirror-line.figure {
  background-color: rgba(241, 188, 127, 0.2) !important;
}

.cm-s-gambier-dark .widget.cm-link:not(.select) {
  color: var(--clr-blue);
  border-color: var(--clr-blue-light);
  font-weight: normal;
}

.cm-s-gambier-dark .widget.cm-link:not(.select).highlight {
  color: white;
  background-color: var(--clr-blue);
  border-color: var(--clr-blue);
}

.cm-s-gambier-dark .cm-link,
.cm-s-gambier-dark .cm-autolink-url,
.cm-s-gambier-dark .cm-autolink-email {
  background-color: var(--clr-blue-lighter);
  text-decoration: none;
}

.cm-s-gambier-dark .cm-reference.cm-label {
  font-weight: bold;
}

.cm-s-gambier-dark .cm-reference.cm-label.widget {
  font-weight: normal;
}

.cm-s-gambier-dark .cm-image.cm-url,
.cm-s-gambier-dark .cm-link.cm-url {
  opacity: 0.8;
  color: var(--clr-blue);
  text-decoration: underline;
}

.cm-s-gambier-dark .cm-image.cm-title,
.cm-s-gambier-dark .cm-link.cm-title {
  opacity: 0.8;
  font-style: italic;
}

.cm-s-gambier-dark .cm-link.cm-url:hover {
  opacity: 1;
}

.cm-s-gambier-dark .CodeMirror-line.link-reference-definition {
  background-color: rgba(232, 242, 255, 0.4) !important;
  font-style: italic !important;
}

.cm-s-gambier-dark .CodeMirror-line.list-1 .list-marker,
.cm-s-gambier-dark .CodeMirror-line.list-2 .list-marker,
.cm-s-gambier-dark .CodeMirror-line.list-3 .list-marker,
.cm-s-gambier-dark .CodeMirror-line.list-4 .list-marker {
  position: relative;
}

.cm-s-gambier-dark .CodeMirror-line.list-1 .list-marker::before,
.cm-s-gambier-dark .CodeMirror-line.list-2 .list-marker::before,
.cm-s-gambier-dark .CodeMirror-line.list-3 .list-marker::before,
.cm-s-gambier-dark .CodeMirror-line.list-4 .list-marker::before {
  content: attr(data-marker);
  color: var(--clr-blue);
  user-select: none;
  position: absolute;
  left: -1em;
}

.cm-s-gambier-dark .taskOpen .cm-md,
.cm-s-gambier-dark .taskClosed .cm-md {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
}

.cm-s-gambier-dark .CodeMirror-line.list-1 {
  padding-left: 2em;
}

.cm-s-gambier-dark .CodeMirror-line.list-2 {
  padding-left: 4em;
}

.cm-s-gambier-dark .CodeMirror-line.list-3 {
  padding-left: 6em;
}

.cm-s-gambier-dark .CodeMirror-line.list-4 {
  padding-left: 8em;
}

.cm-s-gambier-dark .cm-texmath-inline {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-dark .CodeMirror-line.texmath-display {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
  background-color: rgba(214, 214, 214, 0.5) !important;
}

.cm-s-gambier-dark .cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-gambier-dark .cm-md {
  color: red;
}

.cm-s-gambier-dark .cm-strong {
  color: var(--clr-blue);
  font-weight: 700;
}

.cm-s-gambier-dark .cm-strong.cm-flank {
  color: var(--clr-blue-light);
}

.cm-s-gambier-dark.CodeMirror {
  background-color: #fff;
  color: #24292e;
}

.cm-s-gambier-dark .CodeMirror-cursor {
  border-left: 1px solid #24292e;
}

.cm-s-gambier-dark .CodeMirror-gutters {
  background: #fff;
  color: #24292e;
  border: none;
}

.cm-s-gambier-dark .CodeMirror-guttermarker,
.cm-s-gambier-dark .CodeMirror-guttermarker-subtle,
.cm-s-gambier-dark .CodeMirror-linenumber {
  color: #fff;
}

.cm-s-gambier-dark.CodeMirror-focused div.CodeMirror-selected {
  background: #b2d7ff;
}

.cm-s-gambier-dark div.CodeMirror-selected {
  background: #f0f0f0;
}

.cm-s-gambier-dark .cm-atom {
  color: #219;
}

.cm-s-gambier-dark .cm-attribute {
  color: #00c;
}

.cm-s-gambier-dark .cm-bracket {
  color: #997;
}

.cm-s-gambier-dark .cm-builtin {
  color: #30a;
}

.cm-s-gambier-dark .cm-comment {
  color: #a50;
}

.cm-s-gambier-dark .cm-def {
  color: #00f;
}

.cm-s-gambier-dark .cm-error {
  color: #f00;
}

.cm-s-gambier-dark .cm-keyword {
  color: #708;
}

.cm-s-gambier-dark .cm-meta {
  color: #555;
}

.cm-s-gambier-dark .cm-negative {
  color: #d44;
}

.cm-s-gambier-dark .cm-number {
  color: #164;
}

.cm-s-gambier-dark .cm-positive {
  color: #292;
}

.cm-s-gambier-dark .cm-qualifier {
  color: #555;
}

.cm-s-gambier-dark .cm-string {
  color: #a11;
}

.cm-s-gambier-dark .cm-string-2 {
  color: #f50;
}

.cm-s-gambier-dark .cm-tag {
  color: #170;
}

.cm-s-gambier-dark .cm-type {
  color: #085;
}

.cm-s-gambier-dark .cm-variable-2 {
  color: #05a;
}

.cm-s-gambier-dark .cm-variable-3 {
  color: #085;
}

/*# sourceMappingURL=gambier-dark.css.map */