.cm-s-gambier-light {

    --clr-blue: rgb(13, 103, 220);
    --clr-blue-light: #b9d0ee;
    --clr-blue-lighter: rgb(232, 242, 255);
    --clr-gray-lighter: hsl(0, 0%, 85%);

    @mixin code {
        font-size: 0.9em;
        font-family: "SFMono-Regular";
    }

    // -------------- Cursor -------------- //

    .CodeMirror-cursor {
        border-left: 1px solid gray;
    }

    // -------------- Blockquote -------------- //

    .CodeMirror-line.quote {
        color: var(--clr-blue);
        font-style: italic;
        // Creating hanging indentation for >
        text-indent: -0.85em;
        // Make hanging > align with side of page
        padding-left: 1em;

        &::first-letter {
            color: var(--clr-blue-light);
        }
    }

    // -------------- Citation -------------- //

    .cm-citation {
        background-color: lightgoldenrodyellow;
        color: rgba(0, 0, 0, 0.5);

        &.cm-key {
            text-decoration: underline;
            color: black;
        }
    }

    // -------------- Code -------------- //

    .cm-code {
        @include code;
        background-color: #e7f9e8;
        color: #13570b;
        padding: 0.1em 0 0.2em;
        &.cm-md {
            color: #4db14c;
        }
    }

    // -------------- Emphasis -------------- //

    .cm-em {
        color: var(--clr-blue);
        font-style: italic;
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    // -------------- Fenced code block -------------- //

    .CodeMirror-line.fencedcodeblock {
        @include code;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    // -------------- Footnote -------------- //

    .CodeMirror-line.footnote-reference-definition {
        background-color: rgba(241, 186, 231, 0.2) !important;
        font-style: italic !important;
    }

    .cm-footnote.cm-inline {
        background-color: rgba(219, 178, 211, 0.5);
    }

    .cm-footnote.cm-reference {
        background-color: rgba(219, 178, 211, 0.5);
    }

    // -------------- Frontmatter -------------- //

    .CodeMirror-line.frontmatter {
        background: rgba(0, 0, 0, 0.04);
    }

    // -------------- Headers -------------- //

    .header {
        color: var(--clr-gray-lighter);

        &.h1 {
            font-weight: 700;
            margin-left: -0.8em;
            // text-decoration: underline;
        }

        &.h2 {
            margin-left: -1.4em;
            font-weight: 700;
        }

        &.h3 {
            font-weight: 500;
            margin-left: -2em;
        }

        &.h4 {
            margin-left: -2.6em;
        }

        &.h5 {
            margin-left: -3.2em;
        }

        &.h6 {
            margin-left: -3.2em;
        }

        &.h3,
        &.h4,
        &.h5,
        &.h6 {
            color: rgb(156, 156, 156);
        }
    }

    .cm-header-1 {
        text-decoration: underline;
        &::first-letter {
            text-decoration: none;
        }
        &.cm-header-hash {
            text-decoration: none;
        }
    }

    .cm-header-3 {
        font-weight: normal;
        font-style: italic;
    }

    // -------------- Horizontal rule -------------- //

    .CodeMirror-line.hr {
        background-color: rgba(198, 198, 198, 0.2) !important;
    }

    // -------------- Image -------------- //

    .cm-img {
        background-color: rgba(209, 177, 227, 0.5) !important;
    }

    .CodeMirror-line.figure {
        background-color: rgba(209, 177, 227, 0.2) !important;
    }

    // -------------- Link -------------- //

    .cm-link,
    .cm-autolink-url,
    .cm-autolink-email {
        background-color: rgba(173, 216, 230, 0.5);
        text-decoration: none;
    }

    cm-inline .cm-link.cm-inline {
        background-color: rgba(173, 216, 230, 0.5);
        text-decoration: underline;
    }

    .cm-link.cm-reference {
    }

    .cm-link.cm-label {
        font-weight: bold;
    }

    .cm-img.cm-url,
    .cm-link.cm-url {
        opacity: 0.8;
        color: rgb(4, 120, 159);
        text-decoration: underline;
    }

    .cm-img.cm-title,
    .cm-link.cm-title {
        opacity: 0.8;
        font-style: italic;
    }

    .cm-link.cm-url:hover {
        opacity: 1;
    }

    // -------------- Lists -------------- //

    .CodeMirror-line.list-1,
    .CodeMirror-line.list-2,
    .CodeMirror-line.list-3,
    .CodeMirror-line.list-4 {
        .list-marker {
            position: relative;
        }

        .list-marker::before {
            content: attr(data-marker);
            color: var(--clr-blue);
            user-select: none;
            position: absolute;
            left: -1em;
        }

        // Solution 1:
        // span[role="presentation"] {
        //     position: relative;
        // }

        // & > span:before {
        //     content: "*";
        //     color: var(--clr-blue);
        //     user-select: none;
        //     position: absolute;
        //     left: -1em;
        // }
    }

    .taskOpen .cm-md,
    .taskClosed .cm-md {
        @include code;
    }

    .CodeMirror-line.list-1 {
        padding-left: 2em;
    }
    .CodeMirror-line.list-2 {
        padding-left: 4em;
    }
    .CodeMirror-line.list-3 {
        padding-left: 6em;
    }
    .CodeMirror-line.list-4 {
        padding-left: 8em;
    }

    // -------------- Math -------------- //

    .cm-texmath-inline {
        @include code;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    .CodeMirror-line.texmath-display {
        @include code;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    // -------------- Strikethrough -------------- //

    .cm-strikethrough {
        text-decoration: line-through;
    }

    .cm-md {
        color: red;
      }

    // -------------- Strong -------------- //

    .cm-strong {
        color: var(--clr-blue);
        font-weight: 700;
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    // -------------- UI -------------- //

    // Only this one actually does anything? Not sure the others (below) work...
    // .CodeMirror-selected {
    //     background: #b4d7ff;
    // }

    // Background
    &.CodeMirror {
        background-color: #fff;
        color: #24292e;
    }

    // Cursor
    .CodeMirror-cursor {
        border-left: 1px solid #24292e;
    }

    // Gutters
    .CodeMirror-gutters {
        background: #fff;
        color: #24292e;
        border: none;
    }

    .CodeMirror-guttermarker,
    .CodeMirror-guttermarker-subtle,
    .CodeMirror-linenumber {
        color: #fff;
    }

    // Selection
    &.CodeMirror-focused div.CodeMirror-selected { // Editor is focused
        background: #B2D7FF;
    }

    div.CodeMirror-selected { // Editor is NOT focused
        background: rgb(240, 240, 240); 
    }

    
    // .CodeMirror-line::selection,
    // .CodeMirror-line > span::selection,
    // .CodeMirror-line > span > span::selection {
    //     background: rgba(128, 203, 196, 0.2);
    // }

    // .CodeMirror-line::-moz-selection,
    // .CodeMirror-line > span::-moz-selection,
    // .CodeMirror-line > span > span::-moz-selection {
    //     background: rgba(128, 203, 196, 0.2);
    // }

    // -------------- Default (non-Markdown) tags -------------- //

    .cm-atom {
        color: #219;
    }
    .cm-attribute {
        color: #00c;
    }
    .cm-bracket {
        color: #997;
    }
    .cm-builtin {
        color: #30a;
    }
    .cm-comment {
        color: #a50;
    }
    .cm-def {
        color: #00f;
    }
    .cm-error {
        color: #f00;
    }
    .cm-keyword {
        color: #708;
    }
    .cm-meta {
        color: #555;
    }
    .cm-negative {
        color: #d44;
    }
    .cm-number {
        color: #164;
    }
    .cm-operator {
    }
    .cm-positive {
        color: #292;
    }
    .cm-property {
    }
    .cm-punctuation {
    }
    .cm-qualifier {
        color: #555;
    }
    .cm-string {
        color: #a11;
    }
    .cm-string-2 {
        color: #f50;
    }
    .cm-tag {
        color: #170;
    }
    .cm-type {
        color: #085;
    }
    .cm-variable {
    }
    .cm-variable-2 {
        color: #05a;
    }
    .cm-variable-3 {
        color: #085;
    }
}
