@use "../mixins" as *;
@use "markdown-tags";
@use "default-tags";
@use "codemirror";
@use "sass:color";

.CodeMirror {

    --clr-blue:         rgba(13, 103, 220, 1);
    --clr-blue-light:   rgba(185, 208, 238, 1);
    --clr-blue-lighter: rgba(232, 242, 255, 1);

    --clr-gray-darker: hsl(0, 0%, 15%);
    --clr-gray-lighter: hsl(0, 0%, 85%);

    --mark-borderRadius: 3px;

    @include dark {
    }

    @include light {
        --blockquote: rgb(13, 103, 220);
        
        $citation: #dcc00d;
        --citation-mark:                #{color.adjust($citation, $lightness: -20%)};
        --citation-mark-bg:             #{color.adjust($citation, $alpha: -0.8)};
        --citation-mark-border:         #{color.adjust($citation, $lightness: -30%, $alpha: -0.9)};
        --citation-mark-highlight:      white;
        --citation-mark-highlight-bg:   #{$citation};
        --citation-source:              #{color.adjust($citation, $lightness: -20%)};
        --citation-source-bg:           #{color.adjust($citation, $alpha: -0.95)};
        --citation-source-md:           #{color.adjust($citation, $lightness: -20%, $alpha: -0.4)};
        
        $code: #4db14c;
        --code-source:                  #{color.adjust($code, $lightness: -15%)};
        --code-source-bg:               #{color.adjust($code, $alpha: -0.9)};
        --code-source-md:               #{color.adjust($code, $lightness: -10%, $alpha: -0.6)};
        
        $emphasis: #0d67dc;
        --emphasis:                     #{$emphasis};
        --emphasis-md:                  #{color.adjust($emphasis, $alpha: -0.6)};
        
        --fencedcodeblock-bg:           rgba(214, 214, 214, 0.5);

        --frontmatter-bg:               rgba(var(--foregroundColor), 0.05);
        
        --h1:                           rgba(var(--foregroundColor), 1);
        --h2:                           rgba(var(--foregroundColor), 0.6);
        --h3:                           rgba(var(--foregroundColor), 0.6);
        --h4:                           rgba(var(--foregroundColor), 0.6);
        --h5:                           rgba(var(--foregroundColor), 0.6);
        --h6:                           rgba(var(--foregroundColor), 0.6);
        --hr-bg:                      rgba(198, 198, 198, 0.2);
        
        $image: #42ab5e;
        --image-mark:                   #{color.adjust($image, $lightness: -15%)};
        --image-mark-bg:                #{color.adjust($image, $alpha: -0.8)};
        --image-mark-border:            #{color.adjust($image, $lightness: -30%, $alpha: -0.9)};
        --image-mark-highlight:         white;
        --image-mark-highlight-bg:      #{$image};
        --image-source:                 #{color.adjust($image, $lightness: -15%)};
        --image-source-url:             #{color.adjust($image, $lightness: -15%, $alpha: -0.2)};
        --image-source-title:           #{color.adjust($image, $lightness: -15%, $alpha: -0.4)};
        --image-source-bg:              #{color.adjust($image, $alpha: -0.95)};
        --image-source-md:              #{color.adjust($image, $lightness: -20%, $alpha: -0.4)};

        $footnote: #aa5096;
        --footnote-mark:                #{$footnote};
        --footnote-mark-bg:             #{color.adjust($footnote, $alpha: -0.8)};
        --footnote-mark-border:         #{color.adjust($footnote, $lightness: -30%, $alpha: -0.9)};
        --footnote-mark-highlight:      white;
        --footnote-mark-highlight-bg:   #{$footnote};
        --footnote-source:              #{$footnote};
        --footnote-source-bg:           #{color.adjust($footnote, $alpha: -0.95)};
        --footnote-source-md:           #{color.adjust($footnote, $alpha: -0.4)};
        
        $link: #0d67dc;
        --link-mark:                    #{$link};
        --link-mark-bg:                 #{color.adjust($link, $alpha: -0.9)};
        --link-mark-border:             #{color.adjust($link, $lightness: -30%, $alpha: -0.9)};
        --link-mark-highlight:          white;
        --link-mark-highlight-bg:       #{$link};
        --link-source:                  #{$link};
        --link-source-url:              #{color.adjust($link, $alpha: -0.2)};
        --link-source-title:            #{color.adjust($link, $alpha: -0.4)};
        --link-source-bg:               #{color.adjust($link, $alpha: -0.95)};
        --link-source-md:               #{color.adjust($link, $alpha: -0.4)};
        --link-ref-definition-bg:       #{color.adjust($link, $alpha: -0.9)};

        --texmath-inline:               rgba(214, 214, 214, 0.5);
        --texmath-display:              rgba(214, 214, 214, 0.5);

        $strikethrough: hsla(0, 0%, 0%, 45%);
        --strikethrough:                #{$strikethrough};
        --strikethrough-md:             #{color.adjust($strikethrough, $alpha: -0.2)};

        $strong: #0d67dc;
        --strong:                     #{$strong};
        --strong-md:                  #{color.adjust($strong, $alpha: -0.6)};

        $list: #0d67dc;
        --list-indentation:           1em;
        --list-md:                    #{color.adjust($list, $alpha: -0.2)};
    }
}
