// Default (non-Markdown) tags

.cm-atom {
    color: #219;
}
.cm-attribute {
    color: #00c;
}
.cm-bracket {
    color: #997;
}
.cm-builtin {
    color: #30a;
}
.cm-comment {
    color: #a50;
}
.cm-def {
    color: #00f;
}
.cm-error {
    color: #f00;
}
.cm-keyword {
    color: #708;
}
.cm-meta {
    color: #555;
}
.cm-negative {
    color: #d44;
}
.cm-number {
    color: #164;
}
.cm-operator {
}
.cm-positive {
    color: #292;
}
.cm-property {
}
.cm-punctuation {
}
.cm-qualifier {
    color: #555;
}
.cm-string {
    color: #a11;
}
.cm-string-2 {
    color: #f50;
}
.cm-tag {
    color: #170;
}
.cm-type {
    color: #085;
}
.cm-variable {
}
.cm-variable-2 {
    color: #05a;
}
.cm-variable-3 {
    color: #085;
}
