@use "../mixins" as *;

@mixin code-typography {
  font-size: 0.9em;
  font-family: "SFMono-Regular";
}

// -------------- Marks (shared) -------------- //

.mark:focus {
  outline: none;
}

// Hide text selection when mark is not focused
.mark:not(:focus)::selection {
  background-color: transparent;
}

.mark:not(.editable) {
  
  cursor: initial;
  
  &::before {
    justify-content: center;
    display: inline-flex;
    width: 1em;
    overflow: hidden;
  }
}


// -------------- Blockquote -------------- //

.CodeMirror-line.quote {
  color: var(--blockquote);
  font-style: italic;
  // Creating hanging indentation for >
  text-indent: -0.85em;
  // Make hanging > align with side of page
  padding-left: 1em;

  &::first-letter {
    color: var(--blockquote);
    opacity: 0.6;
  }
}

// -------------- Citation -------------- //

.mark.citation {
  color: var(--citation-mark);
  background-color: var(--citation-mark-bg);
  border: 1px solid var(--citation-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;

  &:before {
    content: "c";
  }

  &.highlighted {
    color: var(--citation-mark-highlight);
    background-color: var(--citation-mark-highlight-bg);
    border-color: var(--citation-mark-highlight-bg);
  }
}

.cm-citation {
  color: var(--citation-source);
  background-color: var(--citation-source-bg);

  &.cm-key {
    text-decoration: underline;
    // color: black;
  }

  &.cm-md {
    color: var(--citation-source-md);
  }
}

// .citation {
//   color: var(--citation);
//   background-color: var(--citationBG);
//   border: 1px solid rgba(0, 0, 0, 0.1);
// }

// -------------- Code -------------- //

.cm-code {
  @include code-typography;
  color: var(--code-source);
  background-color: var(--code-source-bg);
  // padding: 0.1em 0 0.2em;
  &.cm-md {
    color: var(--code-source-md);
  }
}

// -------------- Emphasis -------------- //

.cm-em {
  color: var(--emphasis);
  font-style: italic;
  &.cm-md {
    color: var(--emphasis-md);
  }
}

// -------------- Fenced code block -------------- //

// TODO: Stop codemirror base styles from overriding here
.CodeMirror-line.fencedcodeblock {
  @include code-typography;
  background-color: var(--fencedcodeblock-bg);
  border-radius: 3px;
}

// -------------- Footnote -------------- //

// Mark

.mark.footnote {
  color: var(--footnote-mark);
  background-color: var(--footnote-mark-bg);
  border: 1px solid var(--footnote-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;

  &:before {
    content: "f";
  }

  &.highlighted {
    color: var(--footnote-mark-highlight);
    background-color: var(--footnote-mark-highlight-bg);
    border-color: var(--footnote-mark-highlight-bg);
  }
}

.mark.cm-footnote:not(.reference) {
  // padding-right: 0.3em;
}

// Inline

.cm-footnote {
  color: var(--footnote-source);
  background-color: var(--footnote-source-bg);
  &.cm-md {
    color: var(--footnote-source-md);
  }
}

// Line

.CodeMirror-line.footnote-reference-definition,
.CodeMirror-line.footnote-reference-definition-continued {
  background-color: rgba(241, 186, 231, 0.2) !important; // TODO
  font-style: italic !important;
}

// -------------- Frontmatter -------------- //

.CodeMirror-line.frontmatter {
  background: var(--frontmatter-bg);
}

// -------------- Headers -------------- //

.header {
  &.h1 {
    color: var(--h1);
    font-weight: 700;
    // margin-left: -0.8em;
    // text-decoration: underline;
  }

  &.h2 {
    color: var(--h2);
    font-weight: 700;
    // margin-left: -1.4em;
  }

  &.h3 {
    color: var(--h3);
    font-weight: 500;
    // margin-left: -2em;
  }

  &.h4 {
    color: var(--h4);
    // margin-left: -2.6em;
  }

  &.h5 {
    color: var(--h5);
    // margin-left: -3.2em;
  }

  &.h6 {
    color: var(--h6);
    // margin-left: -3.2em;
  }
}

.cm-header-1 {
  text-decoration: underline;
  &::first-letter {
    text-decoration: none;
  }
  &.cm-header-hash {
    text-decoration: none;
  }
}

.cm-header-3 {
  font-weight: normal;
  font-style: italic;
}

// -------------- Horizontal rule -------------- //

.CodeMirror-line.hr {
  background-color: var(--hr-bg);
}

// -------------- Image -------------- //

.mark.image {
  color: var(--image-mark);
  background-color: var(--image-mark-bg);
  border: 1px solid var(--image-mark-border);
  border-radius: var(--mark-borderRadius);

  &::before {
    content: "i";
  }

  &.highlighted {
    color: var(--image-mark-highlight);
    background-color: var(--image-mark-highlight-bg);
    border-color: var(--image-mark-highlight-bg);
  }
}

.cm-image {
  color: var(--image-source);
  background-color: var(--image-source-bg);

  &.cm-url {
    color: var(--image-source-url);
    text-decoration: underline;
    word-break: break-all;
  }

  &.cm-title {
    color: var(--image-source-title);
    // font-style: italic;
  }

  &.cm-md {
    color: var(--image-source-md);
  }
}

.CodeMirror-line.figure {
  background-color: rgba(241, 188, 127, 0.2) !important;
}

// -------------- Link -------------- //

// Mark

.mark.link {
  color: var(--link-mark);
  background-color: var(--link-mark-bg);
  border: 1px solid var(--link-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;

  &::before,
  &::after {
    content: ' ';
  }

  &.highlighted {
    color: var(--link-mark-highlight);
    background-color: var(--link-mark-highlight-bg);
    border-color: var(--link-mark-highlight-bg);
  }
}

// Inline

.cm-link,
.cm-autolink-url,
.cm-autolink-email {
  color: var(--link-source);
  background-color: var(--link-source-bg);
  text-decoration: none;

  &.cm-url {
    color: var(--link-source-url);
    text-decoration: underline;
    opacity: 0.8;
    word-break: break-all;

    &:hover {
      opacity: 1;
    }
  }

  &.cm-title {
    color: var(--link-source-title);
    // font-style: italic;
  }

  &.cm-md {
    color: var(--link-source-md);
  }
}

.cm-reference.cm-label {
  font-weight: bold;
  &.mark {
    font-weight: normal;
  }
}

// Line

.CodeMirror-line.link-reference-definition {
  background-color: var(--link-ref-definition-bg);
  font-style: italic !important;
}

// -------------- Lists -------------- //

.list-1,
.list-2,
.list-3,
.list-4 {
  // .list-marker {
  //   position: relative;
  // }

  .cm-md:first-of-type {
    color: var(--list-md);
  }
}

// .list-1 {
//   padding-left: calc(var(--list-indentation) * 1);
// }
// .list-2 {
//   padding-left: calc(var(--list-indentation) * 2);
// }
// .list-3 {
//   padding-left: calc(var(--list-indentation) * 3);
// }
// .list-4 {
//   padding-left: calc(var(--list-indentation) * 4);
// }


// .list-marker::before {
//   content: attr(data-marker);
//   color: var(--list-md);
//   user-select: none;
//   position: absolute;
//   left: -1em;
// }

// Solution 1:
// span[role="presentation"] {
//     position: relative;
// }

// & > span:before {
//     content: "*";
//     color: var(--clr-blue);
//     user-select: none;
//     position: absolute;
//     left: -1em;
// }

.taskList .cm-task {
  // @include code-typography;
} 

.taskList .cm-md:first-of-type {
  // background: red;
}

.taskList .cm-task {
  // border-bottom: 2px solid turquoise;
}


.mark.cm-task {
  margin: 0 0 5px 0;
}


// -------------- Math -------------- //

.cm-texmath-inline {
  @include code-typography;
  background-color: var(--texmath-inline);
}

.CodeMirror-line.texmath-display {
  @include code-typography;
  background-color: var(--texmath-display);
}

// -------------- Strikethrough -------------- //

.cm-strikethrough {
  color: var(--strikethrough);
  // text-decoration: line-through;
  background: linear-gradient(transparent 55%, hsla(0, 0%, 0%, 0.5) 55% 60%, transparent 60%);

  &.cm-md {
    text-decoration: none;
    color: var(--strikethrough-md);
    background: none;
  }
}

// -------------- Strong -------------- //

.cm-strong {
  color: var(--strong);
  font-weight: 700;
  &.cm-md {
    color: var(--strong-md);
  }
}

// -------------- URL-in-Brackets -------------- //
// -------------- Email-in-Brackets -------------- //

.cm-bare-url,
.cm-email-in-brackets,
.cm-url-in-brackets {
  color: var(--in-brackets);
  &.cm-md {
    color: var(--in-brackets-md);
  }
}

.metaKeyDown {
  .cm-bare-url:hover,
  .cm-email-in-brackets:hover,
  .cm-url-in-brackets:hover {
    // text-decoration: underline;
    border-bottom: 1px solid var(--in-brackets);
    cursor: pointer;
  }
}