// From: https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.css#L11
// Unmodified

.CodeMirror-lines {
//   padding: 4px 0; /* Vertical padding around content */
    // We want the white space on the left and right of each line to be a selectable. thereby increasing the hit target for selections. Hence the large margin. The margin `auto` width value also automatically centers the content.
    margin: 1em auto;
    min-width: 24em;
    max-width: 40em;
    padding: 0 1em 18em;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}