@use "colors";

// -------------- Animation -------------- //

/*
Svelte docs: "If you want to make @keyframes that are accessible globally, you need to prepend your keyframe names with -global-. The -global- part will be removed when compiled, and the keyframe then be referenced using just my-animation-name elsewhere in your code." — 
*/

// Focus ring

@mixin focusRing {
    box-shadow: 0 0 0 3.5px var(--focus-ring-color);
}

@mixin focusRingAnimation() {
    animation-fill-mode: forwards;
    animation-name: focusRingAnimationKeyframes;
    animation-duration: 0.3s;
}

@keyframes -global-focusRingAnimationKeyframes {
    from {
        box-shadow: 0 0 0 25px transparent;
    }
    to {
        @include focusRing;
    }
}

// Drag over

@mixin dragOverAnimation() {
    animation-fill-mode: forwards;
    animation-name: dragOverAnimationKeyframes;
    animation-duration: 0.1s;
}

@keyframes -global-dragOverAnimationKeyframes {
    from {
        box-shadow: inset 0 0 0 0 transparent;
        background: transparent;
    }
    to {
        box-shadow: inset 0 0 0 4px var(--focus-ring-color);
        background: hsla(var(--accentH), var(--accentS), var(--accentL), 0.2);
    }
}
