@use "colors";

// -------------- Animation -------------- //

// Focus ring

@mixin focusRingAnimation() {
    animation-fill-mode: forwards;
    animation-name: focusRingAnimationKeyframes;
    animation-duration: 0.3s;
}

@keyframes focusRingAnimationKeyframes {
    from {
        box-shadow: 0 0 0 25px transparent;
    }
    to {
        box-shadow: 0 0 0 3.5px var(--focus-ring-color);
    }
}

// Drag over

@mixin dragOverAnimation() {
    animation-fill-mode: forwards;
    animation-name: dragOverAnimationKeyframes;
    animation-duration: 0.1s;
}

@keyframes dragOverAnimationKeyframes {
    from {
        box-shadow: inset 0 0 0 0 transparent;
        background: transparent;
    }
    to {
        box-shadow: inset 0 0 0 4px var(--focus-ring-color);
        background: hsla(var(--accentH), var(--accentS), var(--accentL), 0.2);
    }
}
