// -------------- Layout -------------- //

@mixin background-layout {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

@mixin centered-mask-image {
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

// @mixin absolute_centered {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }
