@import "../../../styles/_variables.scss";

.cm-s-gambier-dark {
    --clr-blue: rgb(13, 103, 220);
    --clr-blue-light: #b9d0ee;
    --clr-blue-lighter: rgb(232, 242, 255);
    --clr-gray-darker: hsl(0, 0%, 15%);
    --clr-gray-lighter: hsl(0, 0%, 85%);

    @mixin code-typography {
        font-size: 0.9em;
        font-family: "SFMono-Regular";
    }

    // -------------- Autocompelte -------------- //

    #autocomplete {
        position: relative;
        // background-color: var(--clr-blue-lighter);

        &:focus,
        &:focus-within {
            outline: 1px solid transparent;
        }
    }

    #autocompleteMenu {
        width: 10em;
        // transform: translate(0, 100%);
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        background: var(--clr-blue-lighter);
        opacity: 0;
        visibility: hidden;

        .label {
            flex-grow: 1;
        }

        .preview {
            opacity: 0.5;
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        ul,
        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li {
            padding: 0 0.3em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;

            &.selected {
                // color: white;
                background-color: var(--clr-blue-light);
            }
        }
    }

    // -------------- Widget -------------- //

    // Editable

    .widget.editable {
        border-width: 1px;
        border-style: solid;
        border-radius: 0.15em;
        text-decoration: none;
        box-sizing: content-box;

        :focus {
            outline: none;
        }
    }

    .widget.editable {

        &::before,
        &::after {
            content: "|";
            opacity: 0;
        }
    }

    .widget.reference .select {
        border: 1px solid red;
        background-image: url(img/down-arrow-notch.svg);
    }

    .widget:not(.editable) {
        box-sizing: border-box;
        padding: 0 0.2em;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 0.15em;
    }

    .widget.error {
        box-shadow: 0px 1px rgba(255, 0, 0, 0.5);
    }

    // Shared

    .widget {
        &:focus {
            // NOTE: Individual element set their own colors
            outline: none;
        }
    }

    // When we hover a link and/or reference element with metaKey pressed, we can click to 1) open URL, or 2) jump to reference definition (depending on the element).
    [data-metakeydown="true"] {
        .widget.reference:hover,
        .widget.cm-image:hover,
        .widget.cm-link:hover {
            border: 1px solid rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    // -------------- Preview -------------- //

    #preview {
        --notch-size: 0.6em;
        --popup-distance: -0.5em;
        --show: 0.05s;
        --hide: 0.05s;
        --delay: 1s;

        background-color: hsl(0, 0%, 95%);
        border-radius: var(--grid-eighth);
        color: var(--clr-gray-darker);
        font-size: var(--font-sml-2);
        line-height: var(--grid-three-quarters);
        opacity: 0;
        padding: var(--grid-quarter);
        position: absolute;
        transform: translate(0%, 2em);
        white-space: normal;
        width: 20em;
        z-index: 100;
        outline: none;

        &.hide {
            opacity: 0;
        }

        &.error {
            border: 1px solid rgba(255, 0, 0, 0.5);
        }

        #tip {
            opacity: 0.5;
            margin-top: var(--grid-eigth);
        }

        #url {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // direction: rtl;
            display: flex;
            justify-content: flex-end;
            margin-bottom: var(--grid-quarter);

            #dir {
                opacity: 0.5;
            }

            #base {
                opacity: 1;
            }
        }

        #image-preview {
            max-width: 100%;
            min-height: 4em;

            img {
                width: 100%;
            }
        }
    }

    [data-metakeydown="false"] #preview.show {
        transition: opacity 0.1s ease-in 0.2s;
        opacity: 1;
    }

    // [data-metakeydown="false"] #preview.show {
    //     animation: show 0.1s ease-in 0.2s forwards;
    //     @keyframes show {

    //         to {
    //             opacity: 1;
    //         }
    //     }
    // }

    [data-metakeydown="true"] #preview.show {
        opacity: 1;
    }

    // -------------- Wizard -------------- //

    #wizard {
        --notch-size: 0.6em;
        --popup-distance: -0.5em;
        --show: 0.05s;
        --hide: 0.05s;
        --delay: 0.5s;

        background-color: hsl(0, 0%, 95%);
        border-radius: var(--grid-eighth);
        color: var(--clr-gray-darker);
        font-size: var(--font-sml-1);
        line-height: var(--grid-three-quarters);
        opacity: 0;
        padding: var(--grid-quarter);
        position: absolute;
        transform: translate(0%, 2em);
        transition-delay: var(--delay);
        transition-timing-function: ease-out;
        transition: opacity var(--hide);
        white-space: normal;
        width: 20em;
        z-index: 100;
        // left: -5000px;

        &.visible {
            outline: none;
            opacity: 1;
            transition: opacity var(--show);
            transition-timing-function: ease-in;
        }

        &.error {
            border: 1px solid rgba(255, 0, 0, 0.5);
        }

        #contents {

            &.reference {
                margin-bottom: 0.5em;
                background-color: rgba(0, 0, 0, 0.05);
                padding: 0.5em;
                border-radius: 0.2em;
            }

            :disabled {
                // pointer-events: none; // TODO: Disable text selection alsopointer-events: none; // TODO: Disable text selection also
                opacity: 0.5;
            }
        }


        header {
            display: flex;
            h1 {
                flex-grow: 1;
                margin: 0;
                padding: 0.5em 0 0;
            }
        }

        h1,
        h2,
        label,
        input {
            margin: 0;
            font-size: var(--font-sml-1);
            line-height: var(--grid-three-quarters);
        }

        h1,
        h2 {
            padding-bottom: var(--grid-quarter);
        }

        label {
            padding-bottom: var(--grid-eighth);
        }

        input {
            margin-bottom: var(--grid-quarter);
        }

        textarea {
            display: block;
            width: 100%;
            font-size: var(--font-sml-1);
            padding: var(--grid-sixth);
        }

        label {
            display: block;
            &:not([required]) {
                opacity: 0.5;
                &::after {
                    content: "Optional";
                    font-style: italic;
                }
            }
        }

        input {
            border-radius: 0.15em;
            width: 100%;

            &:not([required]) {
                // opacity: 0.5;
            }
        }

        /* Notch */
        // &::before {
        //     content: "";
        //     width: var(--notch-size);
        //     height: var(--notch-size);
        //     position: absolute;
        //     transform: rotate(45deg);
        //     z-index: -1;
        //     background-color: inherit;
        // }

        // &.above {
        //     // transform: translate(-50%, -100%);
        //     // Offset by size of notch, then adjust distance with final value
        //     // top: var(--popup-distance);
        //     /* Notch */
        //     &::before {
        //         bottom: 0.05em;
        //         left: 50%;
        //         transform: translate(-50%, 50%) rotate(45deg);
        //     }
        // }

        // &.below {
        //     // transform: translate(-50%, 100%);
        //     // bottom: -0.5em;
        //     /* Notch */
        //     &::before {
        //         top: 0.05em;
        //         left: 50%;
        //         transform: translate(-50%, -50%) rotate(45deg);
        //     }
        // }
    }

    // -------------- Cursor -------------- //

    .CodeMirror-cursor {
        border-left: 1px solid gray;
    }

    // -------------- Blockquote -------------- //

    .CodeMirror-line.quote {
        color: var(--clr-blue);
        font-style: italic;
        // Creating hanging indentation for >
        text-indent: -0.85em;
        // Make hanging > align with side of page
        padding-left: 1em;

        &::first-letter {
            color: var(--clr-blue-light);
        }
    }

    // -------------- Citation -------------- //

    .cm-citation {
        background-color: lightgoldenrodyellow;
        color: rgba(0, 0, 0, 0.5);

        &.cm-key {
            text-decoration: underline;
            color: black;
        }
    }

    .citation {
        // @include widget;
        color: rgba(0, 0, 0, 0.5);
        background-color: lightgoldenrodyellow;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    // -------------- Code -------------- //

    .cm-code {
        @include code-typography;
        background-color: #e7f9e8;
        color: #13570b;
        padding: 0.1em 0 0.2em;
        &.cm-md {
            color: #4db14c;
        }
    }

    // -------------- Emphasis -------------- //

    .cm-em {
        color: var(--clr-blue);
        font-style: italic;
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    // -------------- Fenced code block -------------- //

    .CodeMirror-line.fencedcodeblock {
        @include code-typography;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    // -------------- Footnote -------------- //

    // Widget

    .widget.cm-footnote {
        // color: var(--clr-blue);
        // border-color: var(--clr-blue-light);
        font-weight: normal;

        &:before {
            content: "fn";
        }

        &.highlight {
            // color: white;
            background-color: rgba(171, 80, 152, 0.5);
            // border-color: var(--clr-blue);
        }
    }

    // Inline

    .cm-footnote {
        background-color: rgba(219, 178, 211, 0.5);
    }

    // Line

    .CodeMirror-line.footnote-reference-definition,
    .CodeMirror-line.footnote-reference-definition-continued {
        background-color: rgba(241, 186, 231, 0.2) !important;
        font-style: italic !important;
    }

    // -------------- Frontmatter -------------- //

    .CodeMirror-line.frontmatter {
        background: rgba(0, 0, 0, 0.04);
    }

    // -------------- Headers -------------- //

    .header {
        color: var(--clr-gray-lighter);

        &.h1 {
            font-weight: 700;
            // margin-left: -0.8em;
            // text-decoration: underline;
        }

        &.h2 {
            font-weight: 700;
            // margin-left: -1.4em;
        }

        &.h3 {
            font-weight: 500;
            // margin-left: -2em;
        }

        &.h4 {
            // margin-left: -2.6em;
        }

        &.h5 {
            // margin-left: -3.2em;
        }

        &.h6 {
            // margin-left: -3.2em;
        }

        &.h3,
        &.h4,
        &.h5,
        &.h6 {
            color: rgb(156, 156, 156);
        }
    }

    .cm-header-1 {
        text-decoration: underline;
        &::first-letter {
            text-decoration: none;
        }
        &.cm-header-hash {
            text-decoration: none;
        }
    }

    .cm-header-3 {
        font-weight: normal;
        font-style: italic;
    }

    // -------------- Horizontal rule -------------- //

    .CodeMirror-line.hr {
        background-color: rgba(198, 198, 198, 0.2) !important;
    }

    // -------------- Image -------------- //

    .cm-image {
        background-color: rgba(241, 188, 127, 0.5) !important;
    }

    .widget.cm-image {
        padding: 0 0.4em;
    }

    .CodeMirror-line.figure {
        background-color: rgba(241, 188, 127, 0.2) !important;
    }

    // -------------- Link -------------- //

    // Widget

    .widget.cm-link {
        color: var(--clr-blue);
        border-color: var(--clr-blue-light);
        font-weight: normal;

        &.highlight {
            color: white;
            background-color: var(--clr-blue);
            border-color: var(--clr-blue);
        }
    }

    // Inline

    .cm-link,
    .cm-autolink-url,
    .cm-autolink-email {
        background-color: var(--clr-blue-lighter);
        text-decoration: none;
    }

    .cm-reference.cm-label {
        font-weight: bold;
        &.widget {
            font-weight: normal;
        }
    }

    .cm-image.cm-url,
    .cm-link.cm-url {
        opacity: 0.8;
        // color: rgb(4, 120, 159);
        color: var(--clr-blue);
        text-decoration: underline;
    }

    .cm-image.cm-title,
    .cm-link.cm-title {
        opacity: 0.8;
        font-style: italic;
    }

    .cm-link.cm-url:hover {
        opacity: 1;
    }

    // Line

    .CodeMirror-line.link-reference-definition {
        background-color: rgba(232, 242, 255, 0.4) !important;
        font-style: italic !important;
    }

    // -------------- Lists -------------- //

    .CodeMirror-line.list-1,
    .CodeMirror-line.list-2,
    .CodeMirror-line.list-3,
    .CodeMirror-line.list-4 {
        .list-marker {
            position: relative;
        }

        .list-marker::before {
            content: attr(data-marker);
            color: var(--clr-blue);
            user-select: none;
            position: absolute;
            left: -1em;
        }

        // Solution 1:
        // span[role="presentation"] {
        //     position: relative;
        // }

        // & > span:before {
        //     content: "*";
        //     color: var(--clr-blue);
        //     user-select: none;
        //     position: absolute;
        //     left: -1em;
        // }
    }

    .taskOpen .cm-md,
    .taskClosed .cm-md {
        @include code-typography;
    }

    .CodeMirror-line.list-1 {
        padding-left: 2em;
    }
    .CodeMirror-line.list-2 {
        padding-left: 4em;
    }
    .CodeMirror-line.list-3 {
        padding-left: 6em;
    }
    .CodeMirror-line.list-4 {
        padding-left: 8em;
    }

    // -------------- Math -------------- //

    .cm-texmath-inline {
        @include code-typography;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    .CodeMirror-line.texmath-display {
        @include code-typography;
        background-color: rgba(214, 214, 214, 0.5) !important;
    }

    // -------------- Strikethrough -------------- //

    .cm-strikethrough {
        text-decoration: line-through;
    }

    .cm-md {
        color: red;
    }

    // -------------- Strong -------------- //

    .cm-strong {
        color: var(--clr-blue);
        font-weight: 700;
        &.cm-flank {
            color: var(--clr-blue-light);
        }
    }

    // -------------- UI -------------- //

    // Background
    &.CodeMirror {
        background-color: #fff;
        color: #24292e;
    }

    // Cursor
    .CodeMirror-cursor {
        border-left: 1px solid #24292e;
    }

    // Gutters
    .CodeMirror-gutters {
        background: #fff;
        color: #24292e;
        border: none;
    }

    .CodeMirror-guttermarker,
    .CodeMirror-guttermarker-subtle,
    .CodeMirror-linenumber {
        color: #fff;
    }

    // Selection
    &.CodeMirror-focused div.CodeMirror-selected {
        // Editor is focused
        background: #b2d7ff;
    }

    div.CodeMirror-selected {
        // Editor is NOT focused
        background: rgb(240, 240, 240);
    }

    // .CodeMirror-line::selection,
    // .CodeMirror-line > span::selection,
    // .CodeMirror-line > span > span::selection {
    //     background: rgba(128, 203, 196, 0.2);
    // }

    // .CodeMirror-line::-moz-selection,
    // .CodeMirror-line > span::-moz-selection,
    // .CodeMirror-line > span > span::-moz-selection {
    //     background: rgba(128, 203, 196, 0.2);
    // }

    // -------------- Default (non-Markdown) tags -------------- //

    .cm-atom {
        color: #219;
    }
    .cm-attribute {
        color: #00c;
    }
    .cm-bracket {
        color: #997;
    }
    .cm-builtin {
        color: #30a;
    }
    .cm-comment {
        color: #a50;
    }
    .cm-def {
        color: #00f;
    }
    .cm-error {
        color: #f00;
    }
    .cm-keyword {
        color: #708;
    }
    .cm-meta {
        color: #555;
    }
    .cm-negative {
        color: #d44;
    }
    .cm-number {
        color: #164;
    }
    .cm-operator {
    }
    .cm-positive {
        color: #292;
    }
    .cm-property {
    }
    .cm-punctuation {
    }
    .cm-qualifier {
        color: #555;
    }
    .cm-string {
        color: #a11;
    }
    .cm-string-2 {
        color: #f50;
    }
    .cm-tag {
        color: #170;
    }
    .cm-type {
        color: #085;
    }
    .cm-variable {
    }
    .cm-variable-2 {
        color: #05a;
    }
    .cm-variable-3 {
        color: #085;
    }
}
