@keyframes selectField {
  from {
    box-shadow: 0 0 0 20px transparent, 0 0 0 20px transparent;
  }
  to {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25), 0 0 0 4px var(--controlAccentColor);
  }
}
.mark:focus {
  outline: none;
}

.mark:not(:focus)::selection {
  background-color: transparent;
}

.mark:not(.editable) {
  cursor: initial;
}
.mark:not(.editable)::before {
  justify-content: center;
  display: inline-flex;
  width: 1em;
  overflow: hidden;
}

.CodeMirror-line.quote {
  color: var(--blockquote);
  font-style: italic;
  text-indent: -0.85em;
  padding-left: 1em;
}
.CodeMirror-line.quote::first-letter {
  color: var(--blockquote);
  opacity: 0.6;
}

.mark.citation {
  color: var(--citation-mark);
  background-color: var(--citation-mark-bg);
  border: 1px solid var(--citation-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;
}
.mark.citation:before {
  content: "c";
}
.mark.citation.highlighted {
  color: var(--citation-mark-highlight);
  background-color: var(--citation-mark-highlight-bg);
  border-color: var(--citation-mark-highlight-bg);
}

.cm-citation {
  color: var(--citation-source);
  background-color: var(--citation-source-bg);
}
.cm-citation.cm-key {
  text-decoration: underline;
}
.cm-citation.cm-md {
  color: var(--citation-source-md);
}

.cm-code {
  font-family: "SFMono-Regular";
  font-size: 0.9em;
  color: var(--code-source);
  background-color: var(--code-source-bg);
}
.cm-code.cm-md {
  color: var(--code-source-md);
}

.cm-emphasis {
  color: var(--emphasis);
  font-style: italic;
}
.cm-emphasis.cm-md {
  color: var(--emphasis-md);
}

.CodeMirror-line.fencedcodeblock {
  font-family: "SFMono-Regular";
  font-size: 0.9em;
  background-color: var(--fencedcodeblock-bg);
  border-radius: 3px;
}

.mark.footnote {
  color: var(--footnote-mark);
  background-color: var(--footnote-mark-bg);
  border: 1px solid var(--footnote-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;
}
.mark.footnote:before {
  content: "f";
}
.mark.footnote.highlighted {
  color: var(--footnote-mark-highlight);
  background-color: var(--footnote-mark-highlight-bg);
  border-color: var(--footnote-mark-highlight-bg);
}

.cm-footnote {
  color: var(--footnote-source);
  background-color: var(--footnote-source-bg);
}
.cm-footnote.cm-md {
  color: var(--footnote-source-md);
}

.CodeMirror-line.footnote-reference-definition,
.CodeMirror-line.footnote-reference-definition-continued {
  background-color: rgba(241, 186, 231, 0.2) !important;
  font-style: italic !important;
}

.CodeMirror-line.frontmatter {
  background: var(--frontmatter-bg);
}

.header.h1 {
  color: var(--h1);
  font-weight: 700;
}
.header.h2 {
  color: var(--h2);
  font-weight: 700;
}
.header.h3 {
  color: var(--h3);
  font-weight: 500;
}
.header.h4 {
  color: var(--h4);
}
.header.h5 {
  color: var(--h5);
}
.header.h6 {
  color: var(--h6);
}

.cm-header-1 {
  text-decoration: underline;
}
.cm-header-1::first-letter {
  text-decoration: none;
}
.cm-header-1.cm-header-hash {
  text-decoration: none;
}

.cm-header-3 {
  font-weight: normal;
  font-style: italic;
}

.CodeMirror-line.hr {
  background-color: var(--hr-bg);
}

.mark.image {
  color: var(--image-mark);
  background-color: var(--image-mark-bg);
  border: 1px solid var(--image-mark-border);
  border-radius: var(--mark-borderRadius);
}
.mark.image::before {
  content: "i";
}
.mark.image.highlighted {
  color: var(--image-mark-highlight);
  background-color: var(--image-mark-highlight-bg);
  border-color: var(--image-mark-highlight-bg);
}

.cm-image {
  color: var(--image-source);
  background-color: var(--image-source-bg);
}
.cm-image.cm-url {
  color: var(--image-source-url);
  text-decoration: underline;
  text-decoration-skip: edges;
  word-break: break-all;
}
.cm-image.cm-title {
  color: var(--image-source-title);
}
.cm-image.cm-md {
  color: var(--image-source-md);
}

.CodeMirror-line.figure {
  background-color: rgba(241, 188, 127, 0.2) !important;
}

.cm-incomplete {
  border-bottom: 2px solid salmon;
}

.mark.link {
  color: var(--link-mark);
  background-color: var(--link-mark-bg);
  border: 1px solid var(--link-mark-border);
  border-radius: var(--mark-borderRadius);
  font-weight: normal;
}
.mark.link::before, .mark.link::after {
  content: " ";
}
.mark.link.highlighted {
  color: var(--link-mark-highlight);
  background-color: var(--link-mark-highlight-bg);
  border-color: var(--link-mark-highlight-bg);
}

.metaKeyDown .mark.link:hover {
  cursor: pointer;
}

.cm-link,
.cm-autolink-url,
.cm-autolink-email {
  color: var(--link-source);
  background-color: var(--link-source-bg);
  text-decoration: none;
}
.cm-link.cm-url,
.cm-autolink-url.cm-url,
.cm-autolink-email.cm-url {
  color: var(--link-source-url);
  text-decoration: underline;
  text-decoration-skip: edges;
  opacity: 0.8;
  word-break: break-all;
}
.cm-link.cm-url:hover,
.cm-autolink-url.cm-url:hover,
.cm-autolink-email.cm-url:hover {
  opacity: 1;
}
.cm-link.cm-title,
.cm-autolink-url.cm-title,
.cm-autolink-email.cm-title {
  color: var(--link-source-title);
}
.cm-link.cm-md,
.cm-autolink-url.cm-md,
.cm-autolink-email.cm-md {
  color: var(--link-source-md);
}

.cm-reference.cm-label {
  font-weight: bold;
}
.cm-reference.cm-label.mark {
  font-weight: normal;
}

.CodeMirror-line.link-reference-definition {
  background-color: var(--link-ref-definition-bg);
  font-style: italic !important;
}

.list-1 .cm-md:first-of-type,
.list-2 .cm-md:first-of-type,
.list-3 .cm-md:first-of-type,
.list-4 .cm-md:first-of-type {
  color: var(--list-md);
}

.mark.cm-task {
  margin: 0 0 5px 0;
}

.cm-texmath-inline {
  font-family: "SFMono-Regular";
  font-size: 0.9em;
  background-color: var(--texmath-inline);
}

.CodeMirror-line.texmath-display {
  font-family: "SFMono-Regular";
  font-size: 0.9em;
  background-color: var(--texmath-display);
}

.cm-strikethrough {
  color: var(--strikethrough);
  background: linear-gradient(transparent 55%, rgba(0, 0, 0, 0.5) 55% 60%, transparent 60%);
}
.cm-strikethrough.cm-md {
  text-decoration: none;
  color: var(--strikethrough-md);
  background: none;
}

.cm-strong {
  color: var(--strong);
  font-weight: 700;
}
.cm-strong.cm-md {
  color: var(--strong-md);
}

.cm-bare-url,
.cm-emphasisail-in-brackets,
.cm-url-in-brackets {
  color: var(--in-brackets);
}
.cm-bare-url.cm-md,
.cm-emphasisail-in-brackets.cm-md,
.cm-url-in-brackets.cm-md {
  color: var(--in-brackets-md);
}

.metaKeyDown .cm-link.cm-url:hover {
  cursor: pointer;
}
.metaKeyDown .cm-bare-url:hover,
.metaKeyDown .cm-emphasisail-in-brackets:hover,
.metaKeyDown .cm-url-in-brackets:hover {
  border-bottom: 1px solid var(--in-brackets);
  cursor: pointer;
}

.cm-atom {
  color: #219;
}

.cm-attribute {
  color: #00c;
}

.cm-bracket {
  color: #997;
}

.cm-builtin {
  color: #30a;
}

.cm-comment {
  color: #a50;
}

.cm-def {
  color: #00f;
}

.cm-error {
  color: #f00;
}

.cm-keyword {
  color: #708;
}

.cm-meta {
  color: #555;
}

.cm-negative {
  color: #d44;
}

.cm-number {
  color: #164;
}

.cm-positive {
  color: #292;
}

.cm-qualifier {
  color: #555;
}

.cm-string {
  color: #a11;
}

.cm-string-2 {
  color: #f50;
}

.cm-tag {
  color: #170;
}

.cm-type {
  color: #085;
}

.cm-variable-2 {
  color: #05a;
}

.cm-variable-3 {
  color: #085;
}

/* ---------- BASE ---------- */
.CodeMirror {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  background: transparent;
  direction: ltr;
  padding-left: 10px;
}

/* ---------- PADDING ---------- */
.CodeMirror-lines {
  margin: 1em auto;
  min-width: 24em;
  max-width: 40em;
  padding: 0 0 10em;
  overflow: hidden;
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}

/* ---------- GUTTER ---------- */
.CodeMirror-gutters {
  white-space: nowrap;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
}

/* ---------- CURSOR ---------- */
.CodeMirror-cursor {
  border-left: 1px solid rgba(var(--foregroundColor), 1);
  border-right: none;
  width: 0;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}

@-moz-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}
/* ---------- MISCELLANEOUS ---------- */
.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

/* ---------- STOP ---------- */
.CodeMirror {
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-right: -50px;
  /* Josh 10/2: Disabled this because it was screwing up keeping cursor visible. When auto-scrolling to keep cursor visible, if we were scrolling down page, it wouldn't scroll far enough, and cursor was not visible. By about one line height. */
  /* margin-bottom: -50px;  */
  /* padding-bottom: 50px; */
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
     before actual scrolling happens, thus preventing shaking and
     flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {
  z-index: 100;
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: var(--selectedTextBackgroundColor);
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #1900ff;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #00ffe1;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: "";
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

.CodeMirror {
  --clr-blue: rgba(13, 103, 220, 1);
  --clr-blue-light: rgba(185, 208, 238, 1);
  --clr-blue-lighter: rgba(232, 242, 255, 1);
  --clr-gray-darker: hsl(0, 0%, 15%);
  --clr-gray-lighter: hsl(0, 0%, 85%);
  --mark-borderRadius: 3px;
}
@media (prefers-color-scheme: dark) {
  .CodeMirror {
    --link-mark: #0d67dc;
    --link-mark-bg: rgba(13, 103, 220, 0.1);
    --link-mark-border: rgba(4, 35, 76, 0.1);
    --link-mark-highlight: white;
    --link-mark-highlight-bg: #0d67dc;
    --link-source: #0d67dc;
    --link-source-url: rgba(13, 103, 220, 0.8);
    --link-source-title: rgba(13, 103, 220, 0.6);
    --link-source-bg: rgba(13, 103, 220, 0.05);
    --link-source-md: rgba(13, 103, 220, 0.6);
    --link-ref-definition-bg: rgba(13, 103, 220, 0.1);
  }
}
@media (prefers-color-scheme: light) {
  .CodeMirror {
    --blockquote: rgb(13, 103, 220);
    --citation-mark: #7c6c07;
    --citation-mark-bg: rgba(220, 192, 13, 0.2);
    --citation-mark-border: rgba(76, 66, 4, 0.1);
    --citation-mark-highlight: white;
    --citation-mark-highlight-bg: #dcc00d;
    --citation-source: #7c6c07;
    --citation-source-bg: rgba(220, 192, 13, 0.05);
    --citation-source-md: rgba(124, 108, 7, 0.6);
    --code-source: #367b35;
    --code-source-bg: rgba(77, 177, 76, 0.1);
    --code-source-md: rgba(61, 141, 61, 0.4);
    --emphasis: #0d67dc;
    --emphasis-md: rgba(13, 103, 220, 0.4);
    --fencedcodeblock-bg: rgba(214, 214, 214, 0.5);
    --frontmatter-bg: rgba(var(--foregroundColor), 0.05);
    --h1: rgba(var(--foregroundColor), 1);
    --h2: rgba(var(--foregroundColor), 0.6);
    --h3: rgba(var(--foregroundColor), 0.6);
    --h4: rgba(var(--foregroundColor), 0.6);
    --h5: rgba(var(--foregroundColor), 0.6);
    --h6: rgba(var(--foregroundColor), 0.6);
    --hr-bg: rgba(198, 198, 198, 0.2);
    --image-mark: #2d7440;
    --image-mark-bg: rgba(66, 171, 94, 0.2);
    --image-mark-border: rgba(23, 61, 33, 0.1);
    --image-mark-highlight: white;
    --image-mark-highlight-bg: #42ab5e;
    --image-source: #2d7440;
    --image-source-url: rgba(45, 116, 64, 0.8);
    --image-source-title: rgba(45, 116, 64, 0.6);
    --image-source-bg: rgba(66, 171, 94, 0.05);
    --image-source-md: rgba(38, 97, 54, 0.6);
    --footnote-mark: #aa5096;
    --footnote-mark-bg: rgba(170, 80, 150, 0.2);
    --footnote-mark-border: rgba(66, 31, 58, 0.1);
    --footnote-mark-highlight: white;
    --footnote-mark-highlight-bg: #aa5096;
    --footnote-source: #aa5096;
    --footnote-source-bg: rgba(170, 80, 150, 0.05);
    --footnote-source-md: rgba(170, 80, 150, 0.6);
    --link-mark: #0d67dc;
    --link-mark-bg: rgba(13, 103, 220, 0.1);
    --link-mark-border: rgba(4, 35, 76, 0.1);
    --link-mark-highlight: white;
    --link-mark-highlight-bg: #0d67dc;
    --link-source: #0d67dc;
    --link-source-url: rgba(13, 103, 220, 0.8);
    --link-source-title: rgba(13, 103, 220, 0.6);
    --link-source-bg: rgba(13, 103, 220, 0.05);
    --link-source-md: rgba(13, 103, 220, 0.6);
    --link-ref-definition-bg: rgba(13, 103, 220, 0.1);
    --list-indentation: 1em;
    --list-md: rgba(13, 103, 220, 0.8);
    --texmath-inline: rgba(214, 214, 214, 0.5);
    --texmath-display: rgba(214, 214, 214, 0.5);
    --strikethrough: rgba(0, 0, 0, 0.45);
    --strikethrough-md: rgba(0, 0, 0, 0.25);
    --strong: #0d67dc;
    --strong-md: rgba(13, 103, 220, 0.4);
    --in-brackets: #0d67dc;
    --in-brackets-md: rgba(13, 103, 220, 0.4);
    --wizard-error: rgba(255, 0, 0, 0.5);
    --wizard-border-color: var(--separatorColor);
    --wizard-border-thickness: 1px;
    --wizard-border-radius: 4px;
  }
}
