// -------------- Citation -------------- //

// Mark

.CodeMirror .mark.citation {
  color: var(--citation-mark);
  background-color: var(--citation-mark-bg);
  border: var(--mark-border-width) solid var(--citation-mark-border);
  border-radius: var(--mark-border-radius);
  font-weight: normal;
  width: 1.1em;
  text-indent: 0; // Fixes alignment issues in lists

  &:before {
    content: '@';
    top: 45%;
    font-size: 0.95em;
  }

  &.highlighted {
    color: var(--citation-mark-highlight);
    background-color: var(--citation-mark-highlight-bg);
    border-color: var(--citation-mark-highlight-bg);
  }
}

// Source

.cm-citation {
  color: var(--citation-source-text);
  background-color: var(--citation-source-bg) !important;

  &.cm-citation-start {
    border-radius: var(--source-bg-borderRadius) 0 0 var(--source-bg-borderRadius);
  }

  &.cm-citation-end {
    border-radius: 0 var(--source-bg-borderRadius) var(--source-bg-borderRadius) 0;
  }

  &.cm-key {
    text-decoration: underline;
    // color: black;
  }

  &.cm-md {
    color: var(--citation-source-md);
  }
}
