// -------------- Link -------------- //

.CodeMirror .mark.link {
  color: var(--link-mark);
  font-weight: var(--link-weight);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.025em;
  // text-decoration-skip-ink: none;
  text-decoration-color: var(--link-mark-underline);
  border-radius: var(--mark-border-radius);

  &.highlighted {
    color: var(--link-mark-highlight);
    background-color: var(--link-mark-highlight-bg);
    border-radius: 0;
    text-decoration-color: var(--link-mark-underline);
    box-shadow: 0 -0.175em 0 0.025em var(--link-mark-highlight-bg), 0 0.175em 0 0.025em var(--link-mark-highlight-bg);
    
  }
}

.metaKeyDown {
  .mark.link:hover {
    cursor: pointer;
    color: var(--link-hover);
    // text-decoration-color: var(--link-hover);
    border-radius: 0;
    // background-color: var(--link-mark-highlight-bg);
    // box-shadow: 0 -0.175em 0 0.025em var(--link-mark-highlight-bg), 0 0.175em 0 0.025em var(--link-mark-highlight-bg);

  }
}

// Source

.cm-link,
.cm-autolink-url,
.cm-autolink-email {
  background-color: var(--link-source-bg);
  text-decoration: none;
  
  &.cm-text {
    color: var(--link-source-text);
    font-weight: var(--link-weight);
  }

  &.cm-url {
    color: var(--link-source-url);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.025em;
    opacity: 0.8;
    word-break: break-all;

    &:hover {
      opacity: 1;
    }
  }

  &.cm-title {
    color: var(--link-source-title);
    // font-style: italic;
  }

  &.cm-md {
    color: var(--link-source-md);
  }
}

.cm-reference.cm-label {
  font-weight: bold;
  &.mark {
    font-weight: normal;
  }
}

.metaKeyDown {
  .cm-link.cm-url:hover {
    cursor: pointer;
  }
}

// Line

.CodeMirror-line.link-reference-definition {
  background-color: var(--link-ref-definition-bg);
  font-style: italic !important;
}


// Pill-style mark
// .mark.link {
//   color: var(--link-mark);
//   background-color: var(--link-mark-bg);
//   border: var(--link-mark-border-width) solid var(--link-mark-border);
//   border-radius: var(--link-mark-border-radius);
//   font-weight: normal;
//   padding: 0 0.2em;
//   position: relative;

//   &.highlighted {
//     color: var(--link-mark-highlight);
//     background-color: var(--link-mark-highlight-bg);
//     border-color: var(--link-mark-highlight-bg);
//   }
// }