@use "../../../_helpers" as *;

// -------------- Task List -------------- //

.taskList .cm-task {
  // @include code-typography;
}

.taskList .cm-md:first-of-type {
  // background: red;
}

.taskList .cm-task {
  // border-bottom: 2px solid turquoise;
}

.mark.task {
  @include button-reset; // We use a button element
  background-color: var(--task-mark-bg);
  border: 1px solid var(--task-mark-border);
  border-radius: var(--mark-border-radius);
  font-weight: normal;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.35em 0 0;
  // transform: translate(0, 0.2em);

  &:before {
    @include centered-mask-image;
    content: '';
    width: 100%;
    height: 100%;
    // transform: translate(0, 0.5px);
    -webkit-mask-size: 10px;
    -webkit-mask-image: var(--task-mark-icon);
    background: var(--task-mark-icon-bg);
  }

  &:not(.closed) {
    background-color: var(--task-mark-open-bg);
    border-color: var(--task-mark-open-border);
    &::before {
      opacity: 0;
    }
  }

  &.closed {
    background-color: var(--task-mark-closed-bg);
    border-color: var(--task-mark-closed-border);
    &::before {
      opacity: 1;
    }
  }

  // &.highlighted {
  //   color: var(--task-mark-highlight);
  //   background-color: var(--task-mark-highlight-bg);
  //   border-color: var(--task-mark-highlight-bg);
  // }
}

// .mark.test {
//   display: inline-block;
//   // place-items: center;
//   // border: 1px solid red;
//   // box-shadow: inset 0 0 0 1px red;
//   width: 1em;
//   margin: 0;
//   padding: 0;
//   height: var(--editor-lineheight);
//   // height: 100%;
//   background: rgba(255, 0, 100, 0.4);
//   position: relative;
// }

// .mark.task {
//   // @include button-reset;

//   // display: inline-flex;
//   // place-items: center;
//   // transform: translate(0, 2px);
//   display: inline-block;
//   width: 100%;
//   height: 14px;
//   // position: absolute;
//   // top: 0;
//   // left: 0;
//   opacity: 0.5;

//   // &::before {
//   //   @include centered-mask-image;
//   //   opacity: 0;
//   //   content: '';
//   //   width: 100%;
//   //   height: 100%;
//   //   transform: translate(0, 0.5px);
//   //   -webkit-mask-size: 10px;
//   //   -webkit-mask-image: var(--img-checkmark-heavy);
//   //   background: red;
//   // }

//   // margin: 0 0.5em 0 0;
//   // width: 1em;
//   // height: 1em;
//   // border-radius: 0.1em;

//   // display: inline-block;
//   // &::after {
//   //   content: ' ';
//   // }

// }