@use "../../../_helpers" as *;

// -------------- Task List -------------- //

// Mark

.mark.task {
  @include button-reset; // We use a button element
  background-color: var(--task-mark-bg);
  border: 1px solid var(--task-mark-border);
  border-radius: var(--mark-border-radius);
  font-weight: normal;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.35em 0 0;
  // transform: translate(0, 0.2em);

  &:before {
    @include centered-mask-image;
    content: '';
    width: 100%;
    height: 100%;
    // transform: translate(0, 0.5px);
    -webkit-mask-size: 10px;
    -webkit-mask-image: var(--task-mark-icon);
    background: var(--task-mark-icon-bg);
  }

  &:not(.closed) {
    background-color: var(--task-mark-open-bg);
    border-color: var(--task-mark-open-border);
    &::before {
      opacity: 0;
    }
  }

  &.closed {
    background-color: var(--task-mark-closed-bg);
    border-color: var(--task-mark-closed-border);
    &::before {
      opacity: 1;
    }
  }

  // &.highlighted {
  //   color: var(--task-mark-highlight);
  //   background-color: var(--task-mark-highlight-bg);
  //   border-color: var(--task-mark-highlight-bg);
  // }
}

// Source

.taskList .cm-task {
  color: var(--task-source-text);
}

.taskList .cm-md:first-of-type {
  // background: red;
}

.taskList .cm-task {
  // border-bottom: 2px solid turquoise;
}
