@use "../../../_helpers" as *;

// -------------- URL-in-Brackets -------------- //
// -------------- Email-in-Brackets -------------- //

.cm-bare-url,
.cm-emphasisail-in-brackets,
.cm-url-in-brackets {
  color: var(--in-brackets);
  &.cm-md {
    color: var(--in-brackets-md);
  }
}

.metaKeyDown {
  .cm-link.cm-url:hover {
    cursor: pointer;
  }
  .cm-bare-url:hover,
  .cm-email-in-brackets:not(.cm-email-in-brackets-start, .cm-email-in-brackets-end):hover,
  .cm-url-in-brackets:not(.cm-url-in-brackets-start, .cm-url-in-brackets-end):hover {
    // text-decoration: underline;
    border-bottom: 1px solid var(--in-brackets);
    cursor: pointer;
  }
}
